### To Do

- Pontuar aqui coisas a serem feitas

### Importação Bibliotecas

In [102]:
import pandas as pd

### Arquivos Bancos

In [174]:
bancos = pd.read_csv('data/raw/Bancos/EnquadramentoInicia_v2_alterado_manualmente_revisado.csv', sep='\t', encoding='utf8')

In [175]:
bancos.head()

  Segmento      CNPJ                                  Nome
0       S1         0          BANCO DO BRASIL - PRUDENCIAL
1       S1  60746948                 BRADESCO - PRUDENCIAL
2       S1  30306294              BTG PACTUAL - PRUDENCIAL
3       S1    360305  CAIXA ECONOMICA FEDERAL - PRUDENCIAL
4       S1  60872504                     ITAU - PRUDENCIAL

In [176]:
bancos['Nome'] = bancos['Nome'].replace(to_replace = r' - PRUDENCIAL', value = "", regex=True)

In [177]:
bancos.head()

  Segmento      CNPJ                     Nome
0       S1         0          BANCO DO BRASIL
1       S1  60746948                 BRADESCO
2       S1  30306294              BTG PACTUAL
3       S1    360305  CAIXA ECONOMICA FEDERAL
4       S1  60872504                     ITAU

### Arquivo Empregados

In [179]:
empregados = pd.read_csv('data/raw/Empregados/glassdoor_consolidado_join_match_v2.csv', sep='|', encoding='utf-8')

In [183]:
empregados.columns

Index(['employer_name', 'reviews_count', 'culture_count', 'salaries_count',
       'benefits_count', 'employer-website', 'employer-headquarters',
       'employer-founded', 'employer-industry', 'employer-revenue', 'url',
       'Geral', 'Cultura e valores', 'Diversidade e inclusão',
       'Qualidade de vida', 'Alta liderança', 'Remuneração e benefícios',
       'Oportunidades de carreira', 'Recomendam para outras pessoas(%)',
       'Perspectiva positiva da empresa(%)', 'Segmento', 'Nome',
       'match_percent'],
      dtype='object')

### Arquivo Reclamações

In [111]:
reclamacoes = pd.read_csv('data/raw/Reclamações/2021_tri_01.csv', sep=';', encoding='utf-8')

In [112]:
reclamacoes.head()

,Ano,Trimestre,Categoria,Tipo,CNPJ IF,Institui��o financeira,�ndice,Quantidade de reclama��es reguladas procedentes,Quantidade de reclama��es reguladas - outras,Quantidade de reclama��es n�o reguladas,Quantidade total de reclama��es,Quantidade total de clientes � CCS e SCR,Quantidade de clientes � CCS,Quantidade de clientes � SCR,Unnamed: 14
0,2021,1�,Grupo Secund�rio,Conglomerado,,ABC-BRASIL (conglomerado),,2,3,4,9,26230,24698,3810,NaN
1,2021,1�,Grupo Secund�rio,Conglomerado,,AGIBANK (conglomerado),"54,79",58,140,73,271,1058431,790848,693843,NaN
2,2021,1�,Grupo Secund�rio,Banco/financeira,36321990,"AGORACRED S/A SOCIEDADE DE CR�DITO, FINANCIAME...",,3,3,0,6,420692,129,420563,NaN
3,2021,1�,Grupo Secund�rio,Banco/financeira,27214112,"AL5 S.A. CR�DITO, FINANCIAMENTO E INVESTIMENTO",,1,1,0,2,12645,4979,10112,NaN
4,2021,1�,Grupo Secund�rio,Conglomerado,,ALFA (conglomerado),,14,44,15,73,412135,268186,145105,NaN

In [113]:
input_file = 'data/raw/Reclamações/2021_tri_01.csv'
output_file = 'data/raw/Reclamações/TESTE2021_tri_01.csv'

# Ler o arquivo com codificação ANSI
with open(input_file, 'r', encoding='latin1') as f:
    content = f.read()

# Escrever o conteúdo em um novo arquivo com codificação UTF-8
with open(output_file, 'w', encoding='utf-8') as f:
    f.write(content)

In [114]:
test = pd.read_csv('data/raw/Reclamações/TESTE2021_tri_01.csv', sep=';', encoding='latin1')

In [115]:
test.head()

,Ano,Trimestre,Categoria,Tipo,CNPJ IF,InstituiÃ¯Â¿Â½Ã¯Â¿Â½o financeira,Ã¯Â¿Â½ndice,Quantidade de reclamaÃ¯Â¿Â½Ã¯Â¿Â½es reguladas procedentes,Quantidade de reclamaÃ¯Â¿Â½Ã¯Â¿Â½es reguladas - outras,Quantidade de reclamaÃ¯Â¿Â½Ã¯Â¿Â½es nÃ¯Â¿Â½o reguladas,Quantidade total de reclamaÃ¯Â¿Â½Ã¯Â¿Â½es,Quantidade total de clientes Ã¯Â¿Â½ CCS e SCR,Quantidade de clientes Ã¯Â¿Â½ CCS,Quantidade de clientes Ã¯Â¿Â½ SCR,Unnamed: 14
0,2021,1Ã¯Â¿Â½,Grupo SecundÃ¯Â¿Â½rio,Conglomerado,,ABC-BRASIL (conglomerado),,2,3,4,9,26230,24698,3810,NaN
1,2021,1Ã¯Â¿Â½,Grupo SecundÃ¯Â¿Â½rio,Conglomerado,,AGIBANK (conglomerado),"54,79",58,140,73,271,1058431,790848,693843,NaN
2,2021,1Ã¯Â¿Â½,Grupo SecundÃ¯Â¿Â½rio,Banco/financeira,36321990,"AGORACRED S/A SOCIEDADE DE CRÃ¯Â¿Â½DITO, FINAN...",,3,3,0,6,420692,129,420563,NaN
3,2021,1Ã¯Â¿Â½,Grupo SecundÃ¯Â¿Â½rio,Banco/financeira,27214112,"AL5 S.A. CRÃ¯Â¿Â½DITO, FINANCIAMENTO E INVESTI...",,1,1,0,2,12645,4979,10112,NaN
4,2021,1Ã¯Â¿Â½,Grupo SecundÃ¯Â¿Â½rio,Conglomerado,,ALFA (conglomerado),,14,44,15,73,412135,268186,145105,NaN