# eEDB-011-2024-3

## Atividade 4 – Ingestão e ETL com linguagem de programação (Python + Spark + SQL)

* Utilizar linguagem de programação Python para ingestão e tratamento de dados. Para processo de transformação
deve ser realizado via SQL com uma das seguintes ferramentas:
  * DBT (indicada)
  *  SQL Mash – alternativa
  *  Coalesce - Alternativa

*  Base final deve ser um banco de dados relacional já utilizado nos exercícios anteriores.
* O processamento SQL deve ser utilizado via ferramenta mais uma engine de SQL que pode ser o próprio Banco de
Dados bem como um banco de dados em memória como Duckdb ou SLQLite, ou qualquer outra alternativa.
*  Gerar uma tabela final com os dados tratados e unidos.
  * O tratamento de dados deve ser realizado através da ferramenta escolhida para SQL
*  Adicionar as seguintes camadas de processamento, dentro do próprio banco de dados ou em disco local. A
Camada Delivery deve obrigatoriamente ter estar também no formato de uma tabela final dentro do banco de
dados relacional:
  *  RAW – formato dos dados livre
  *  Trusted – formato de dados em Parquet ou ORC or AVRO (indicado Parquet)
  *  Delivery– formato de dados em Parquet ou ORC or AVRO (indicado Parquet)

- **Grupo 02**:
    - Aline Bini
    - Ana Lívia Franco
    - Ana Priss
    - João Squinelato
    - Marcelo Pena
    - Thais Siqueira

- [Github](https://github.com/Squinelato/eEDB-011-2024-3 "eEDB-011-2024-3")

```Ingestão De Dados | Agosto 2024```

## To Do

- raw
- trusted
- delivery

In [1]:
%pip install pyspark
%pip install unidecode 
%pip install findspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.2)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: unidecode in /usr/local/lib/python3.10/dist-packages (1.3.8)
Requirement already satisfied: findspark in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lpad, col, lpad, concat, sha1, regexp_replace, udf, lower, lit, when
from pyspark.sql.types import StringType, FloatType, IntegerType, StructType, StructField, ArrayType
from unidecode import unidecode

import findspark
import os

In [4]:
findspark.init()

In [5]:
spark = SparkSession.builder \
    .master('local') \
    .appName('Basic ETL') \
    .config('spark.executor.timeout', "1200s") \
    .config('spark.sql.broadcastTimeout', '1200s') \
    .config('spark.rpc.askTimeout', '600s') \
    .config('spark.executor.heartbeatInterval', '120s') \
    .config('spark.network.timeout', '1200s') \
    .getOrCreate()

In [6]:
spark

---
## **Raw**

### **Banks file**

In [7]:
# banks_csv_path = '../Fonte de Dados/Bancos/EnquadramentoInicia_v2.tsv'

#drive
banks_csv_path = '/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/Fonte de Dados/Bancos/EnquadramentoInicia_v2.tsv'

# Leitura do arquivo CSV e criação da view temporária
bank_df = spark.read.csv(banks_csv_path, sep='\t', encoding='utf8', header=True)
bank_df.createOrReplaceTempView("bank_temp")
rwzd_bank = spark.sql("SELECT * FROM bank_temp")

Analisando o esquema dos dados

In [8]:
spark.sql("DESCRIBE bank_temp").show(truncate=False)

+--------+---------+-------+
|col_name|data_type|comment|
+--------+---------+-------+
|Segmento|string   |NULL   |
|CNPJ    |string   |NULL   |
|Nome    |string   |NULL   |
+--------+---------+-------+

Contando a quantidade de linhas

In [9]:
total_records = spark.sql("SELECT COUNT(*) AS total FROM bank_temp").collect()[0]['total']
print(f"Total de registros: {total_records}")

Total de registros: 1474

Salvando dados na camada _raw_ no formato parquet.

<sub><i>Usando o Google Colab, o caminho ./raw/bank/ se refere ao sistema de arquivos temporário da máquina virtual onde o notebook está sendo executado.
No Colab, esse caminho fica na raiz da instância, mas o armazenamento é temporário. Isso significa que, uma vez que a sessão do Colab seja finalizada, os arquivos serão perdidos.<i><sub>

Outra abordagem é salvar um DataFrame Spark tanto em formato .parquet quanto em .csv diretamente no Google Drive:

In [10]:
# Drive
drive_path = '/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/raw/banks'

# Criar a pasta
os.makedirs(drive_path, exist_ok=True)

parquet_path = os.path.join(drive_path, 'rwzd_bank.parquet')
csv_path = os.path.join(drive_path, 'rwzd_bank.csv')

# Salvar o DataFrame como .parquet
rwzd_bank.write.mode("overwrite").parquet(parquet_path)

# Salvar o DataFrame como .csv (com cabeçalho)
# ! Salvei todos os arquivos também como csv, para verificar os resultados, mas
# isso pode ser deletado
rwzd_bank.write.mode("overwrite").option("header", "true").csv(csv_path)

print(f"Arquivos salvos em: {drive_path}")

Arquivos salvos em: /content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/raw/banks

### **Employees file**

Localizando todos os arquivos contendo dados de empregados

In [11]:
employee_dir = '/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/Fonte de Dados'
employee_files = os.listdir(employee_dir)
employee_paths = list(map(lambda file: os.path.join(employee_dir, file), employee_files))[1]
employee_paths

'/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/Fonte de Dados/Empregados'

Lendo todos os arquivos de empregados como um único conjunto de dados


<sub><i>Usei o unionByName do spark para unir os dois dataFrames considerando os nomes das colunas. Isso significa que, mesmo que as colunas estejam em ordens diferentes ou que um dos dataFrames tenha colunas extras, ele vai alinhar os dados corretamente com base nos nomes das colunas.
allowMissingColumns=True: Quando definido como True, essa opção permite que a união ocorra mesmo se um dos dataFrames tiver colunas extras que o outro não possui. Nessas colunas faltantes, a intenção é preencher os valores com null.<i><sub>

In [12]:
# Lendo os dois csv's
df1 = spark.read.csv("/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/Fonte de Dados/Empregados/glassdoor_consolidado_join_match_less_v2.csv", sep='|',header=True, inferSchema=True)
df2 = spark.read.csv("/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/Fonte de Dados/Empregados/glassdoor_consolidado_join_match_v2.csv", sep='|',header=True, inferSchema=True)

employee_df = df1.unionByName(df2, allowMissingColumns=True)

In [13]:
employee_df.createOrReplaceTempView("employee_temp")
spark.sql("SELECT * FROM employee_temp LIMIT 100").show()

+--------------------+-------------+-------------+--------------+--------------+--------------------+---------------------+----------------+--------------------+--------------------+--------------------+-----+-----------------+----------------------+-----------------+--------------+------------------------+-------------------------+---------------------------------+----------------------------------+--------+--------------------+-------------+--------+
|       employer_name|reviews_count|culture_count|salaries_count|benefits_count|    employer-website|employer-headquarters|employer-founded|   employer-industry|    employer-revenue|                 url|Geral|Cultura e valores|Diversidade e inclusão|Qualidade de vida|Alta liderança|Remuneração e benefícios|Oportunidades de carreira|Recomendam para outras pessoas(%)|Perspectiva positiva da empresa(%)|    CNPJ|                Nome|match_percent|Segmento|
+--------------------+-------------+-------------+--------------+--------------+--------------------+---------------------+----------------+--------------------+--------------------+--------------------+-----+-----------------+----------------------+-----------------+--------------+------------------------+-------------------------+---------------------------------+----------------------------------+--------+--------------------+-------------+--------+
|          Apex Group|          450|          281|           592|            74|http://www.apexgr...|    Hamilton, Bermuda|          2003.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  3.2|              2.9|                   3.5|              3.0|           2.9|                     2.7|                      3.2|                             52.0|                              53.0|  655522|          APE POUPEX|           70|    NULL|
|          Banco Alfa|          175|           74|           271|           105|http://www.alfane...|    São Paulo, Brasil|          1925.0|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  3.5|              3.2|                   3.2|              3.1|           2.8|                     3.8|                      2.7|                             68.0|                              47.0|58160789|               SAFRA|           67|    NULL|
|China Constructio...|          871|          194|           720|           240|  http://www.ccb.com|        Pequim, China|            NULL|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  3.4|              3.0|                   3.0|              3.4|           2.9|                     3.5|                      2.8|                             54.0|                              42.0| 7450604|CHINA CONSTRUCTIO...|           77|    NULL|
|Mercedes-Benz Mob...|          282|           90|           513|           118|https://www.merce...|  Estugarda, Alemanha|          1990.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  4.1|              4.1|                   4.0|              4.4|           3.7|                     4.0|                      3.6|                             87.0|                              51.0|60814191|       MERCEDES-BENZ|           73|    NULL|
|Sumitomo Mitsui F...|          903|          246|          1300|           290|http://www.smfg.c...|        Tóquio, Japão|          1996.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  3.4|              3.2|                   3.3|              3.4|           3.1|                     3.3|                      3.1|                             56.0|                              53.0|60518222|BANCO SUMITOMO MI...|           65|    NULL|
|         BNP Paribas|        13000|         4100|         20000|          3600|http://www.group....|        Paris, França|          2000.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  3.8|              3.7|                   4.0|              3.8|           3.4|                     3.4|                      3.5|                             77.0|                              63.0|    NULL|         BNP PARIBAS|          100|      S3|
|         BTG Pactual|         1600|          683|          2800|           635|http://www.btgpac...|    São Paulo, Brasil|            NULL|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  4.0|              3.7|                   3.5|              2.8|           3.7|                     4.4|                      4.2|                             78.0|                              73.0|    NULL|         BTG PACTUAL|          100|      S1|
|          Banco Alfa|          175|           74|           271|           105|http://www.alfane...|    São Paulo, Brasil|          1925.0|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  3.5|              3.2|                   3.2|              3.1|           2.8|                     3.8|                      2.7|                             68.0|                              47.0|    NULL|                ALFA|          100|      S3|
|           Banco BMG|          445|          232|           704|           277|http://www.bancob...|    São Paulo, Brasil|          1930.0|/Explorar/melhore...|De US$ 1 a US$ 5 ...|https://www.glass...|  4.1|              3.9|                   4.1|              3.7|           3.6|                     4.2|                      3.5|                             79.0|                              63.0|    NULL|                 BMG|          100|      S3|
|      Banco Bradesco|        11000|         3300|         19000|          3200|http://www.bancob...|       Osasco, Brasil|          1943.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  4.2|              3.8|                   3.9|              3.4|           3.4|                     4.3|                      3.8|                             81.0|                              66.0|    NULL|            BRADESCO|          100|      S1|
|      Banco Daycoval|          300|          157|           521|           107|https://www.dayco...|    São Paulo, Brasil|          1971.0|/Explorar/melhore...|De US$ 25 a US$ 1...|https://www.glass...|  4.0|              3.7|                   3.6|              3.4|           3.3|                     4.1|                      3.4|                             78.0|                              72.0|    NULL|  BANCO DAYCOVAL S.A|          100|      S3|
|         Banco Fibra|          119|           41|           172|            37|http://www.bancof...|    São Paulo, Brasil|            NULL|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  4.3|              4.3|                   4.3|              3.8|           3.7|                     4.2|                      3.6|                             87.0|                              84.0|    NULL|    BANCO FIBRA S.A.|          100|      S3|
|      Banco Original|          651|          286|          1100|           261|http://www.origin...|    São Paulo, Brasil|          2016.0|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  3.8|              3.4|                   3.5|              3.4|           3.1|                     4.0|                      3.3|                             71.0|                              53.0|    NULL|            ORIGINAL|          100|      S3|
|           Banco PAN|         1100|          520|          1700|           493|http://www.bancop...|    São Paulo, Brasil|          2011.0|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  4.4|              4.2|                   4.4|              3.9|           3.9|                     4.6|                      4.0|                             91.0|                              79.0|    NULL|                 PAN|          100|      S3|
|          Banco Pine|          121|           45|           216|            63| http://www.pine.com|    São Paulo, Brasil|          1997.0|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  3.8|              3.5|                   3.5|              3.4|           3.0|                     3.9|                      3.5|                             71.0|                              50.0|    NULL|                PINE|          100|      S3|
|    Banco Votorantim|         1400|          563|          2100|           574|http://www.bancob...|    São Paulo, Brasil|          1991.0|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  4.4|              4.3|                   4.4|              4.1|           3.9|                     4.6|                      3.9|                             93.0|                              79.0|    NULL|          VOTORANTIM|          100|      S2|
|     Banco do Brasil|         5000|         1100|          9200|          1200|https://www.bb.co...|     Brasília, Brasil|          1808.0|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  4.3|              3.9|                   4.0|              3.7|           3.5|                     4.2|                      3.8|                             86.0|                              72.0|    NULL|     BANCO DO BRASIL|          100|      S1|
|Banco do Nordeste...|          525|          113|           840|           115|http://www.bnb.go...|    Fortaleza, Brasil|            NULL|/Explorar/melhore...|Desconhecido/Não ...|https://www.glass...|  4.5|              4.4|                   4.3|              4.3|           4.1|                     4.2|                      4.0|                             90.0|                              83.0|    NULL|BANCO DO NORDESTE...|          100|      S2|
|Bank Of Tokyo-Mit...|          770|          150|          1100|           228|http://www.bk.muf...|        Tóquio, Japão|          1919.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  3.6|              3.6|                   3.5|              3.4|           3.3|                     3.6|                      3.3|                             65.0|                              43.0|    NULL|BANCO TOKYO-MITSU...|           80|      S3|
|            Banrisul|         1000|          155|          1700|           127|http://www.banris...| Porto Alegre, Brasil|            NULL|/Explorar/melhore...|De US$ 25 a US$ 1...|https://www.glass...|  4.2|              3.6|                   3.8|              3.7|           3.4|                     4.1|                      3.3|                             84.0|                              59.0|    NULL|            BANRISUL|          100|      S2|
+--------------------+-------------+-------------+--------------+--------------+--------------------+---------------------+----------------+--------------------+--------------------+--------------------+-----+-----------------+----------------------+-----------------+--------------+------------------------+-------------------------+---------------------------------+----------------------------------+--------+--------------------+-------------+--------+
only showing top 20 rows

In [14]:
total_records_employee = spark.sql("SELECT COUNT(*) AS total FROM employee_temp").collect()[0]['total']
print(f"Total de registros: {total_records_employee}")

Total de registros: 39

Removendo duplicatas com base no nome e segmento do banco

In [15]:
# Remover duplicatas com base nas colunas 'Nome' e 'Segmento'
spark.sql("""
CREATE OR REPLACE TEMPORARY VIEW employee_temp_dedup AS
SELECT *
FROM (
    SELECT *, ROW_NUMBER() OVER (PARTITION BY Nome, Segmento ORDER BY Nome) AS row_num
    FROM employee_temp
) tmp
WHERE row_num = 1
""")
employee_dedup = spark.sql("SELECT * FROM employee_temp_dedup")
employee_dedup.show(truncate=False)

+-------------------------------+-------------+-------------+--------------+--------------+-------------------------------+------------------------+----------------+-----------------------------------------------------------------------------------+---------------------------+----------------------------------------------------------------------------------------------------------------+-----+-----------------+----------------------+-----------------+--------------+------------------------+-------------------------+---------------------------------+----------------------------------+--------+--------------------------------------------------+-------------+--------+-------+
|employer_name                  |reviews_count|culture_count|salaries_count|benefits_count|employer-website               |employer-headquarters   |employer-founded|employer-industry                                                                  |employer-revenue           |url                                                                                                             |Geral|Cultura e valores|Diversidade e inclusão|Qualidade de vida|Alta liderança|Remuneração e benefícios|Oportunidades de carreira|Recomendam para outras pessoas(%)|Perspectiva positiva da empresa(%)|CNPJ    |Nome                                              |match_percent|Segmento|row_num|
+-------------------------------+-------------+-------------+--------------+--------------+-------------------------------+------------------------+----------------+-----------------------------------------------------------------------------------+---------------------------+----------------------------------------------------------------------------------------------------------------+-----+-----------------+----------------------+-----------------+--------------+------------------------+-------------------------+---------------------------------+----------------------------------+--------+--------------------------------------------------+-------------+--------+-------+
|Banco Alfa                     |175          |74           |271           |105           |http://www.alfanet.com.br      |São Paulo, Brasil       |1925.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Desconhecida/não se aplica |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Banco-Alfa-EI_IE817306.13,23.htm                     |3.5  |3.2              |3.2                   |3.1              |2.8           |3.8                     |2.7                      |68.0                             |47.0                              |NULL    |ALFA                                              |100          |S3      |1      |
|Apex Group                     |450          |281          |592           |74            |http://www.apexgroup.com       |Hamilton, Bermuda       |2003.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Apex-Group-EI_IE764729.13,23.htm                     |3.2  |2.9              |3.5                   |3.0              |2.9           |2.7                     |3.2                      |52.0                             |53.0                              |655522  |APE POUPEX                                        |70           |NULL    |1      |
|Apex Group                     |432          |271          |561           |74            |http://www.apexgroup.com       |Hamilton, Bermuda       |2003.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Apex-Group-EI_IE764729.13,23.htm                     |3.2  |2.9              |3.4                   |3.0              |2.9           |2.7                     |3.2                      |50.0                             |52.0                              |NULL    |APE POUPEX                                        |70           |S3      |1      |
|Banco Daycoval                 |300          |157          |521           |107           |https://www.daycoval.com.br    |São Paulo, Brasil       |1971.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |De US$ 25 a US$ 100 milhões|https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Banco-Daycoval-EI_IE1480352.13,27.htm                |4.0  |3.7              |3.6                   |3.4              |3.3           |4.1                     |3.4                      |78.0                             |72.0                              |NULL    |BANCO DAYCOVAL S.A                                |100          |S3      |1      |
|Banco do Brasil                |5000         |1100         |9200          |1200          |https://www.bb.com.br          |Brasília, Brasil        |1808.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Desconhecida/não se aplica |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Banco-do-Brasil-EI_IE3945.13,28.htm                  |4.3  |3.9              |4.0                   |3.7              |3.5           |4.2                     |3.8                      |86.0                             |72.0                              |NULL    |BANCO DO BRASIL                                   |100          |S1      |1      |
|Banco do Nordeste do Brasil    |525          |113          |840           |115           |http://www.bnb.gov.br          |Fortaleza, Brasil       |NULL            |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Desconhecido/Não se aplica |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Banco-do-Nordeste-do-Brasil-EI_IE436304.13,40.htm    |4.5  |4.4              |4.3                   |4.3              |4.1           |4.2                     |4.0                      |90.0                             |83.0                              |NULL    |BANCO DO NORDESTE DO BRASIL S.A.                  |100          |S2      |1      |
|Banco Fibra                    |119          |41           |172           |37            |http://www.bancofibra.com.br   |São Paulo, Brasil       |NULL            |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Desconhecida/não se aplica |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Banco-Fibra-EI_IE744986.13,24.htm                    |4.3  |4.3              |4.3                   |3.8              |3.7           |4.2                     |3.6                      |87.0                             |84.0                              |NULL    |BANCO FIBRA S.A.                                  |100          |S3      |1      |
|Sumitomo Mitsui Financial Group|903          |246          |1300          |290           |http://www.smfg.co.jp          |Tóquio, Japão           |1996.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Sumitomo-Mitsui-Financial-Group-EI_IE256138.13,44.htm|3.4  |3.2              |3.3                   |3.4              |3.1           |3.3                     |3.1                      |56.0                             |53.0                              |60518222|BANCO SUMITOMO MITSUI BRASIL S.A.                 |65           |NULL    |1      |
|Sumitomo Mitsui Financial Group|903          |246          |1300          |290           |http://www.smfg.co.jp          |Tóquio, Japão           |1996.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Sumitomo-Mitsui-Financial-Group-EI_IE256138.13,44.htm|3.4  |3.3              |3.2                   |3.4              |3.1           |3.3                     |3.1                      |56.0                             |54.0                              |NULL    |BANCO SUMITOMO MITSUI BRASIL S.A.                 |65           |S3      |1      |
|Bank Of Tokyo-Mitsubishi UFJ   |770          |150          |1100          |228           |http://www.bk.mufg.jp/global   |Tóquio, Japão           |1919.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Bank-Of-Tokyo-Mitsubishi-UFJ-EI_IE240039.13,41.htm   |3.6  |3.6              |3.5                   |3.4              |3.3           |3.6                     |3.3                      |65.0                             |43.0                              |NULL    |BANCO TOKYO-MITSUBISHI BM S.A.                    |80           |S3      |1      |
|Banrisul                       |1000         |155          |1700          |127           |http://www.banrisul.com.br     |Porto Alegre, Brasil    |NULL            |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |De US$ 25 a US$ 100 milhões|https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Banrisul-EI_IE678973.13,21.htm                       |4.2  |3.6              |3.8                   |3.7              |3.4           |4.1                     |3.3                      |84.0                             |59.0                              |NULL    |BANRISUL                                          |100          |S2      |1      |
|Banco BMG                      |445          |232          |704           |277           |http://www.bancobmg.com.br     |São Paulo, Brasil       |1930.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |De US$ 1 a US$ 5 milhões   |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Banco-BMG-EI_IE2482923.13,22.htm                     |4.1  |3.9              |4.1                   |3.7              |3.6           |4.2                     |3.5                      |79.0                             |63.0                              |NULL    |BMG                                               |100          |S3      |1      |
|BNP Paribas                    |13000        |4100         |20000         |3600          |http://www.group.bnpparibas    |Paris, França           |2000.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-BNP-Paribas-EI_IE10342.13,24.htm                     |3.8  |3.7              |4.0                   |3.8              |3.4           |3.4                     |3.5                      |77.0                             |63.0                              |NULL    |BNP PARIBAS                                       |100          |S3      |1      |
|Merrill Lynch                  |5600         |1200         |9900          |1200          |http://www.ml.com              |New York, Estados Unidos|1820.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Merrill-Lynch-EI_IE440.13,26.htm                     |3.8  |3.6              |3.9                   |3.5              |3.5           |3.8                     |3.8                      |66.0                             |61.0                              |NULL    |BOFA MERRILL LYNCH                                |84           |S3      |1      |
|Banco Bradesco                 |11000        |3300         |19000         |3200          |http://www.bancobradesco.com.br|Osasco, Brasil          |1943.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Banco-Bradesco-EI_IE10997.13,27.htm                  |4.2  |3.8              |3.9                   |3.4              |3.4           |4.3                     |3.8                      |81.0                             |66.0                              |NULL    |BRADESCO                                          |100          |S1      |1      |
|BTG Pactual                    |1600         |683          |2800          |635           |http://www.btgpactual.com      |São Paulo, Brasil       |NULL            |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Desconhecida/não se aplica |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-BTG-Pactual-EI_IE411540.13,24.htm                    |4.0  |3.7              |3.5                   |2.8              |3.7           |4.4                     |4.2                      |78.0                             |73.0                              |NULL    |BTG PACTUAL                                       |100          |S1      |1      |
|Caixa Econômica Federal        |4000         |717          |7300          |857           |http://www.caixa.gov.br        |BRASILIA, Brasil        |NULL            |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Desconhecida/não se aplica |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Caixa-Econ%C3%B4mica-Federal-EI_IE41924.13,36.htm    |4.4  |3.8              |4.2                   |3.7              |3.5           |4.3                     |3.9                      |86.0                             |72.0                              |NULL    |CAIXA ECONOMICA FEDERAL                           |98           |S1      |1      |
|China Construction Bank        |871          |194          |720           |240           |http://www.ccb.com             |Pequim, China           |NULL            |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-China-Construction-Bank-EI_IE12617.13,36.htm         |3.4  |3.0              |3.0                   |3.4              |2.9           |3.5                     |2.8                      |54.0                             |42.0                              |7450604 |CHINA CONSTRUCTION BANK (BRASIL) BANCO MULTIPLO S/|77           |NULL    |1      |
|China Construction Bank        |871          |194          |720           |240           |http://www.ccb.com             |Pequim, China           |NULL            |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-China-Construction-Bank-EI_IE12617.13,36.htm         |3.4  |3.0              |2.9                   |3.4              |2.9           |3.5                     |2.8                      |54.0                             |42.0                              |NULL    |CHINA CONSTRUCTION BANK (BRASIL) BANCO MULTIPLO S/|77           |S3      |1      |
|Citi                           |31000        |8900         |52000         |9900          |http://www.citigroup.com       |New York, Estados Unidos|1812.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/citi                                                                               |3.9  |3.8              |4.1                   |3.5              |3.5           |3.8                     |3.9                      |76.0                             |68.0                              |NULL    |CITIBANK                                          |100          |S2      |1      |
+-------------------------------+-------------+-------------+--------------+--------------+-------------------------------+------------------------+----------------+-----------------------------------------------------------------------------------+---------------------------+----------------------------------------------------------------------------------------------------------------+-----+-----------------+----------------------+-----------------+--------------+------------------------+-------------------------+---------------------------------+----------------------------------+--------+--------------------------------------------------+-------------+--------+-------+
only showing top 20 rows

In [16]:
total_records_employee_dedup = spark.sql("SELECT COUNT(*) AS total FROM employee_temp_dedup").collect()[0]['total']
print(f"Registros subtraídos: {total_records_employee - total_records_employee_dedup}")

Registros subtraídos: 2

Analisando o esquema dos dados

In [17]:
employee_temp_dedup = spark.sql("DESCRIBE employee_temp_dedup").show(truncate=False)

+----------------------------------+---------+-------+
|col_name                          |data_type|comment|
+----------------------------------+---------+-------+
|employer_name                     |string   |NULL   |
|reviews_count                     |int      |NULL   |
|culture_count                     |int      |NULL   |
|salaries_count                    |int      |NULL   |
|benefits_count                    |int      |NULL   |
|employer-website                  |string   |NULL   |
|employer-headquarters             |string   |NULL   |
|employer-founded                  |double   |NULL   |
|employer-industry                 |string   |NULL   |
|employer-revenue                  |string   |NULL   |
|url                               |string   |NULL   |
|Geral                             |double   |NULL   |
|Cultura e valores                 |double   |NULL   |
|Diversidade e inclusão            |double   |NULL   |
|Qualidade de vida                 |double   |NULL   |
|Alta liderança                    |double   |NULL   |
|Remuneração e benefícios          |double   |NULL   |
|Oportunidades de carreira         |double   |NULL   |
|Recomendam para outras pessoas(%) |double   |NULL   |
|Perspectiva positiva da empresa(%)|double   |NULL   |
+----------------------------------+---------+-------+
only showing top 20 rows

Salvando dados na camada _raw_ no formato parquet

In [18]:
drive_path = '/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/raw/employee'

os.makedirs(drive_path, exist_ok=True)

parquet_path = os.path.join(drive_path, 'employee_dedup.parquet')
csv_path = os.path.join(drive_path, 'employee_dedup.csv')

# Salvar o DataFrame como .parquet
employee_dedup.write.mode("overwrite").parquet(parquet_path)

# Salvar o DataFrame como .csv (com cabeçalho)
employee_dedup.write.mode("overwrite").option("header", "true").csv(csv_path)

print(f"Arquivos salvos em: {drive_path}")

Arquivos salvos em: /content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/raw/employee

### **Claims file**

Localizando todos os arquivos contendo dados de reclamações

In [19]:
claim_dir = '/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/Fonte de Dados/Reclamações'
claim_files = os.listdir(claim_dir)
claim_paths = list(map(lambda file: os.path.join(claim_dir, file), claim_files))
claim_paths

['/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/Fonte de Dados/Reclamações/2022_tri_02_nao_ha_dados.csv',
 '/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/Fonte de Dados/Reclamações/2022_tri_03.csv',
 '/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/Fonte de Dados/Reclamações/2022_tri_01.csv',
 '/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/Fonte de Dados/Reclamações/2021_tri_02.csv',
 '/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/Fonte de Dados/Reclamações/2021_tri_04.csv',
 '/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/Fonte de Dados/Reclamações/2021_tri_03.csv',
 '/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/Fonte de Dados/Reclamações/2022_tri_04.csv',
 '/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/Fonte de Dados/Reclamações/2021_tri_01.csv']

In [20]:
claim_df = spark.read.csv(claim_paths, sep=';', encoding='latin1', header=True)
claim_df.createOrReplaceTempView("claim_temp")
records_claim = spark.sql("SELECT * FROM claim_temp")
records_claim.show(truncate=False)

+----+---------+------------------------------------------------------+----------------+--------+----------------------------------------------------------------+------+-----------------------------------------------+--------------------------------------------+---------------------------------------+-------------------------------+----------------------------------------+----------------------------+----------------------------+----+
|Ano |Trimestre|Categoria                                             |Tipo            |CNPJ IF |Instituição financeira                                          |Índice|Quantidade de reclamações reguladas procedentes|Quantidade de reclamações reguladas - outras|Quantidade de reclamações não reguladas|Quantidade total de reclamações|Quantidade total de clientes  CCS e SCR|Quantidade de clientes  CCS|Quantidade de clientes  SCR|_c14|
+----+---------+------------------------------------------------------+----------------+--------+----------------------------------------------------------------+------+-----------------------------------------------+--------------------------------------------+---------------------------------------+-------------------------------+----------------------------------------+----------------------------+----------------------------+----+
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |ABC-BRASIL (conglomerado)                                       |      |4                                              |7                                           |3                                      |14                             |50720                                   |47485                       |6932                        |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |ABN AMRO (conglomerado)                                         |      |0                                              |0                                           |1                                      |1                              |0                                       |0                           |                            |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|13140088|ACESSO SOLUÇÕES DE PAGAMENTO S.A.                               |14,70 |75                                             |128                                         |9                                      |212                            |5098671                                 |5098661                     |19396                       |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |AGIBANK (conglomerado)                                          |96,00 |182                                            |262                                         |95                                     |539                            |1895683                                 |1540134                     |1176067                     |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|36321990|AGORACRED S/A SOCIEDADE DE CRÉDITO, FINANCIAMENTO E INVESTIMENTO|      |4                                              |4                                           |2                                      |10                             |534795                                  |133                         |534662                      |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|27214112|AL5 S.A. CRÉDITO, FINANCIAMENTO E INVESTIMENTO                  |      |10                                             |3                                           |2                                      |15                             |30959                                   |19706                       |16841                       |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |ALFA (conglomerado)                                             |      |23                                             |48                                          |9                                      |80                             |436746                                  |267423                      |170417                      |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|32778350|AME DIGITAL BRASIL INSTITUICAO DE PAGAMENTO LTDA                |      |6                                              |31                                          |90                                     |127                            |0                                       |0                           |0                           |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |ANDBANK (conglomerado)                                          |      |0                                              |2                                           |2                                      |4                              |4302                                    |4302                        |29                          |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|19540550|ASAAS GESTÃO FINANCEIRA INSTITUIÇÃO DE PAGAMENTO S.A.           |      |8                                              |42                                          |5                                      |55                             |404447                                  |404447                      |                            |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|54403563|BANCO ARBI S.A.                                                 |      |14                                             |8                                           |0                                      |22                             |84526                                   |75882                       |10846                       |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|00997185|BANCO B3 S.A.                                                   |      |0                                              |1                                           |1                                      |2                              |896                                     |896                         |                            |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|02658435|BANCO CATERPILLAR S.A.                                          |      |1                                              |0                                           |0                                      |1                              |3325                                    |                            |3325                        |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|33132044|BANCO CEDULA S.A.                                               |      |0                                              |1                                           |1                                      |2                              |18010                                   |2805                        |15425                       |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|02992446|BANCO CNH INDUSTRIAL CAPITAL S.A.                               |      |0                                              |2                                           |2                                      |4                              |28887                                   |1290                        |27778                       |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|08357240|BANCO CSF S.A.                                                  |9,98  |77                                             |72                                          |43                                     |192                            |7707988                                 |                            |7707988                     |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|04902979|BANCO DA AMAZONIA S.A.                                          |      |6                                              |7                                           |10                                     |23                             |507169                                  |507169                      |                            |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|33042151|BANCO DE LA NACION ARGENTINA                                    |      |0                                              |2                                           |0                                      |2                              |267                                     |255                         |22                          |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|05040481|BANCO DE LAGE LANDEN BRASIL S.A.                                |      |0                                              |0                                           |1                                      |1                              |35292                                   |4                           |35289                       |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|92874270|BANCO DIGIMAIS S.A.                                             |424,80|132                                            |31                                          |33                                     |196                            |310734                                  |142304                      |203761                      |NULL|
+----+---------+------------------------------------------------------+----------------+--------+----------------------------------------------------------------+------+-----------------------------------------------+--------------------------------------------+---------------------------------------+-------------------------------+----------------------------------------+----------------------------+----------------------------+----+
only showing top 20 rows

Analisando o esquema dos dados

In [21]:
spark.sql("DESCRIBE claim_temp").show(truncate=False)

+-----------------------------------------------+---------+-------+
|col_name                                       |data_type|comment|
+-----------------------------------------------+---------+-------+
|Ano                                            |string   |NULL   |
|Trimestre                                      |string   |NULL   |
|Categoria                                      |string   |NULL   |
|Tipo                                           |string   |NULL   |
|CNPJ IF                                        |string   |NULL   |
|Instituição financeira                         |string   |NULL   |
|Índice                                         |string   |NULL   |
|Quantidade de reclamações reguladas procedentes|string   |NULL   |
|Quantidade de reclamações reguladas - outras   |string   |NULL   |
|Quantidade de reclamações não reguladas        |string   |NULL   |
|Quantidade total de reclamações                |string   |NULL   |
|Quantidade total de clientes  CCS e SCR       |string   |NULL   |
|Quantidade de clientes  CCS                   |string   |NULL   |
|Quantidade de clientes  SCR                   |string   |NULL   |
|_c14                                           |string   |NULL   |
+-----------------------------------------------+---------+-------+

In [22]:
spark.sql("SELECT * FROM claim_temp LIMIT 10").show()

+----+---------+--------------------+----------------+--------+----------------------+------+-----------------------------------------------+--------------------------------------------+---------------------------------------+-------------------------------+----------------------------------------+----------------------------+----------------------------+----+
| Ano|Trimestre|           Categoria|            Tipo| CNPJ IF|Instituição financeira|Índice|Quantidade de reclamações reguladas procedentes|Quantidade de reclamações reguladas - outras|Quantidade de reclamações não reguladas|Quantidade total de reclamações|Quantidade total de clientes  CCS e SCR|Quantidade de clientes  CCS|Quantidade de clientes  SCR|_c14|
+----+---------+--------------------+----------------+--------+----------------------+------+-----------------------------------------------+--------------------------------------------+---------------------------------------+-------------------------------+----------------------------------------+----------------------------+----------------------------+----+
|2022|       3º|Demais Bancos, Fi...|    Conglomerado|        |  ABC-BRASIL (congl...|      |                                              4|                                           7|                                      3|                             14|                                   50720|                       47485|                        6932|NULL|
|2022|       3º|Demais Bancos, Fi...|    Conglomerado|        |  ABN AMRO (conglom...|      |                                              0|                                           0|                                      1|                              1|                                       0|                           0|                            |NULL|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|13140088|  ACESSO SOLUÇÕES D...| 14,70|                                             75|                                         128|                                      9|                            212|                                 5098671|                     5098661|                       19396|NULL|
|2022|       3º|Demais Bancos, Fi...|    Conglomerado|        |  AGIBANK (conglome...| 96,00|                                            182|                                         262|                                     95|                            539|                                 1895683|                     1540134|                     1176067|NULL|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|36321990|  AGORACRED S/A SOC...|      |                                              4|                                           4|                                      2|                             10|                                  534795|                         133|                      534662|NULL|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|27214112|  AL5 S.A. CRÉDITO,...|      |                                             10|                                           3|                                      2|                             15|                                   30959|                       19706|                       16841|NULL|
|2022|       3º|Demais Bancos, Fi...|    Conglomerado|        |   ALFA (conglomerado)|      |                                             23|                                          48|                                      9|                             80|                                  436746|                      267423|                      170417|NULL|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|32778350|  AME DIGITAL BRASI...|      |                                              6|                                          31|                                     90|                            127|                                       0|                           0|                           0|NULL|
|2022|       3º|Demais Bancos, Fi...|    Conglomerado|        |  ANDBANK (conglome...|      |                                              0|                                           2|                                      2|                              4|                                    4302|                        4302|                          29|NULL|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|19540550|  ASAAS GESTÃO FINA...|      |                                              8|                                          42|                                      5|                             55|                                  404447|                      404447|                            |NULL|
+----+---------+--------------------+----------------+--------+----------------------+------+-----------------------------------------------+--------------------------------------------+---------------------------------------+-------------------------------+----------------------------------------+----------------------------+----------------------------+----+

Removendo coluna desnecessária

In [23]:
# Remove _c14 -> comando EXCEPT e DROP COLUMN nao funciona
spark.sql("""
CREATE OR REPLACE TEMPORARY VIEW claim_temp_filtered AS
SELECT Ano, Trimestre, Categoria, Tipo, `CNPJ IF`, `Instituição financeira`,
`Índice`, `Quantidade de reclamações reguladas procedentes`, `Quantidade de reclamações reguladas - outras`,
`Quantidade de reclamações não reguladas`, `Quantidade total de reclamações`, `Quantidade total de clientes  CCS e SCR`,
`Quantidade de clientes  CCS`, `Quantidade de clientes  SCR`
FROM claim_temp
""")
spark.sql("DESCRIBE claim_temp_filtered").show(truncate=False)

+-----------------------------------------------+---------+-------+
|col_name                                       |data_type|comment|
+-----------------------------------------------+---------+-------+
|Ano                                            |string   |NULL   |
|Trimestre                                      |string   |NULL   |
|Categoria                                      |string   |NULL   |
|Tipo                                           |string   |NULL   |
|CNPJ IF                                        |string   |NULL   |
|Instituição financeira                         |string   |NULL   |
|Índice                                         |string   |NULL   |
|Quantidade de reclamações reguladas procedentes|string   |NULL   |
|Quantidade de reclamações reguladas - outras   |string   |NULL   |
|Quantidade de reclamações não reguladas        |string   |NULL   |
|Quantidade total de reclamações                |string   |NULL   |
|Quantidade total de clientes  CCS e SCR       |string   |NULL   |
|Quantidade de clientes  CCS                   |string   |NULL   |
|Quantidade de clientes  SCR                   |string   |NULL   |
+-----------------------------------------------+---------+-------+

Contando a quantidade de linhas

In [24]:
total_records_claim= spark.sql("SELECT COUNT(*) AS total FROM claim_temp_filtered").collect()[0]['total']
print(f"Registros claim: {total_records_claim}")

Registros claim: 918

Salvando dados na camada _raw_ no formato parquet

In [25]:
claim_temp_filtered = spark.sql("SELECT * FROM claim_temp_filtered")

drive_path = '/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/raw/claim'

os.makedirs(drive_path, exist_ok=True)

parquet_path = os.path.join(drive_path, 'claim_temp_filtered.parquet')
csv_path = os.path.join(drive_path, 'claim_temp_filtered.csv')

# Salvar o DataFrame como .parquet
claim_temp_filtered.write.mode("overwrite").parquet(parquet_path)

# Salvar o DataFrame como .csv (com cabeçalho)
claim_temp_filtered.write.mode("overwrite").option("header", "true").csv(csv_path)

print(f"Arquivos salvos em: {drive_path}")

Arquivos salvos em: /content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/raw/claim

---
## **Trusted**

### **Banks**

Aplicando transformações para melhorar a qualidade dos dados:

1 - Renomeando colunas do dataframe para ingles e no formato snake_case

2 - Para que os dados da coluna _cnpj_ estivessem de acordo com seu padrão, os valores incompletos receberam numerais zeros à esquerda até completar 8 dígitos

In [32]:

#drive
parquet_path = '/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/raw/banks/rwzd_bank.parquet'

# Registrar o arquivo .parquet como uma tabela temporária
spark.read.parquet(parquet_path).createOrReplaceTempView("rwzd_bank")
rwzd_bank = spark.sql("SELECT * FROM rwzd_bank")

# Executar uma consulta SQL na tabela temporária
spark.sql("""
CREATE OR REPLACE TEMP VIEW trzd_banks AS
SELECT Segmento AS segment, Nome AS financial_institution_name,
      CASE
           WHEN cnpj = '' THEN NULL
           ELSE LPAD(cnpj, 8, '0')
       END AS cnpj
FROM rwzd_bank
""")

# Mostrar a estrutura da tabela criada
spark.sql("DESCRIBE trzd_banks").show(truncate=False)

+--------------------------+---------+-------+
|col_name                  |data_type|comment|
+--------------------------+---------+-------+
|segment                   |string   |NULL   |
|financial_institution_name|string   |NULL   |
|cnpj                      |string   |NULL   |
+--------------------------+---------+-------+

In [33]:
spark.sql("SELECT * FROM trzd_banks LIMIT 100").show(truncate=False)

+-------+---------------------------------------------+--------+
|segment|financial_institution_name                   |cnpj    |
+-------+---------------------------------------------+--------+
|S1     |BANCO DO BRASIL - PRUDENCIAL                 |00000000|
|S1     |BRADESCO - PRUDENCIAL                        |60746948|
|S1     |BTG PACTUAL - PRUDENCIAL                     |30306294|
|S1     |CAIXA ECONOMICA FEDERAL - PRUDENCIAL         |00360305|
|S1     |ITAU - PRUDENCIAL                            |60872504|
|S1     |SANTANDER - PRUDENCIAL                       |90400888|
|S2     |BANRISUL - PRUDENCIAL                        |92702067|
|S2     |BANCO DO NORDESTE DO BRASIL S.A. - PRUDENCIAL|07237373|
|S2     |BNDES - PRUDENCIAL                           |33657248|
|S2     |CITIBANK - PRUDENCIAL                        |33479023|
|S2     |CREDIT SUISSE - PRUDENCIAL                   |33987793|
|S2     |SAFRA - PRUDENCIAL                           |58160789|
|S2     |VOTORANTIM - PRUDENCIAL                      |59588111|
|S3     |ABC-BRASIL - PRUDENCIAL                      |28195667|
|S3     |ALFA - PRUDENCIAL                            |60770336|
|S3     |APE POUPEX                                   |00655522|
|S3     |BANCO CNH INDUSTRIAL CAPITAL S.A - PRUDENCIAL|02992446|
|S3     |BANCOOB - PRUDENCIAL                         |02038232|
|S3     |BANESTES - PRUDENCIAL                        |28127603|
|S3     |BANCO CLASSICO S.A. - PRUDENCIAL             |31597552|
+-------+---------------------------------------------+--------+
only showing top 20 rows

In [34]:
spark.sql("""
CREATE OR REPLACE TEMP VIEW trzd_bank_view AS
SELECT *,
       sha1(concat(cnpj, segment)) AS sk_cnpj_segment
FROM trzd_banks
""")

trzd_bank = spark.sql("SELECT * FROM trzd_bank_view")
trzd_bank.show(truncate=False)

+-------+---------------------------------------------+--------+----------------------------------------+
|segment|financial_institution_name                   |cnpj    |sk_cnpj_segment                         |
+-------+---------------------------------------------+--------+----------------------------------------+
|S1     |BANCO DO BRASIL - PRUDENCIAL                 |00000000|d9be4941c63af670d63086dcb0849a997e062a64|
|S1     |BRADESCO - PRUDENCIAL                        |60746948|2f59bebc86f6b4dd5628043cac240c6e6a6f651d|
|S1     |BTG PACTUAL - PRUDENCIAL                     |30306294|110ffbf347c0837827daf658f4f97950ebe9f741|
|S1     |CAIXA ECONOMICA FEDERAL - PRUDENCIAL         |00360305|587e4dca521e8c4426371a29658419ecb0087262|
|S1     |ITAU - PRUDENCIAL                            |60872504|4b6e5b20d113f3415704fd6a998f2e4500340b18|
|S1     |SANTANDER - PRUDENCIAL                       |90400888|75ddb1c713e8da4daab944522b8ee5dda29c2983|
|S2     |BANRISUL - PRUDENCIAL                        |92702067|ddd1cba40d24bcf93c637028f2ef047ce4fae886|
|S2     |BANCO DO NORDESTE DO BRASIL S.A. - PRUDENCIAL|07237373|4e52ea413cf937405f38013294434e85be954f2d|
|S2     |BNDES - PRUDENCIAL                           |33657248|bd262ac480470e839f0e98c0f57383d2034ac1a6|
|S2     |CITIBANK - PRUDENCIAL                        |33479023|9dfc299c9dffe3629288d302b47a2dcf9ec883cb|
|S2     |CREDIT SUISSE - PRUDENCIAL                   |33987793|2d52471f560d1a3b35ad745dd9626640fdf2a12e|
|S2     |SAFRA - PRUDENCIAL                           |58160789|10fd63fa68a9399399c41747efaccbbd7f474b80|
|S2     |VOTORANTIM - PRUDENCIAL                      |59588111|7c0daecf7f3d35c4c8b991ff49149a87d1c680b8|
|S3     |ABC-BRASIL - PRUDENCIAL                      |28195667|4396c9aca92a8cfb1aba2ce3fa1e98a15ab209b3|
|S3     |ALFA - PRUDENCIAL                            |60770336|aa27f0a03ce357a431c2789b7f6596e0b464e2bc|
|S3     |APE POUPEX                                   |00655522|d52450adc95fa0bbb0d69e46f1b200a2191be886|
|S3     |BANCO CNH INDUSTRIAL CAPITAL S.A - PRUDENCIAL|02992446|4110f81144c29257d25a66c80576c8929f84ecc4|
|S3     |BANCOOB - PRUDENCIAL                         |02038232|a0eed533328d57ac2d7846c49b7ccc23798cd566|
|S3     |BANESTES - PRUDENCIAL                        |28127603|2748b9aae2109a4b4b66e4c870b3539f1fd5ce12|
|S3     |BANCO CLASSICO S.A. - PRUDENCIAL             |31597552|5f93aa376cd172e5543caf6a511eb917292c5024|
+-------+---------------------------------------------+--------+----------------------------------------+
only showing top 20 rows

In [35]:
# Caminho no Google Drive para salvar os arquivos
drive_path = '/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/trusted'

# Criar a pasta se ela não existir
os.makedirs(drive_path, exist_ok=True)

# Caminho para salvar os arquivos
parquet_path = os.path.join(drive_path, 'trzd_bank.parquet')
csv_path = os.path.join(drive_path, 'trzd_bank.csv')

# Salvar o DataFrame como .parquet
rwzd_bank.write.mode("overwrite").parquet(parquet_path)

# Salvar o DataFrame como .csv (com cabeçalho)
rwzd_bank.write.mode("overwrite").option("header", "true").csv(csv_path)

print(f"Arquivos salvos em: {drive_path}")

Arquivos salvos em: /content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/trusted

### **Employees**

In [50]:
# Drive da camada RAW
parquet_path = '/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/raw/employee/employee_dedup.parquet'

# Registrar o arquivo .parquet como uma tabela temporária
spark.read.parquet(parquet_path).createOrReplaceTempView("trusted_employee")

In [51]:
# Consulta a tabela de forma temporária para renomear as colunas e padronizar o cnpj
trusted_employee_rename = spark.sql("""CREATE OR REPLACE TEMPORARY VIEW trusted_employee_rename AS SELECT
    `employer-website` AS employer_website,
    `employer-headquarters` AS employer_headquarters,
    `employer-founded` AS employer_founded,
    `employer-industry` AS employer_industry,
    `employer-revenue` AS employer_revenue,
    `Geral` AS general_score,
    `Cultura e valores` AS culture_values_score,
    `Diversidade e inclusão` AS diversity_inclusion_score,
    `Qualidade de vida` AS life_quality_score,
    `Alta liderança` AS senior_leadership_score,
    `Remuneração e benefícios` AS compensation_benefits_score,
    `Oportunidades de carreira` AS career_opportunities_score,
    `Recomendam para outras pessoas(%)` AS recommendation_score,
    `Perspectiva positiva da empresa(%)` AS company_positive_score,
    Segmento AS segment,
    Nome AS financial_institution_name,
    case
        when cnpj = '' then NULL
        else LPAD(cnpj, 8, '0')
    end as cnpj
FROM trusted_employee
""")

spark.sql("DESCRIBE trusted_employee_rename").show(truncate=False)

+---------------------------+---------+-------+
|col_name                   |data_type|comment|
+---------------------------+---------+-------+
|employer_website           |string   |NULL   |
|employer_headquarters      |string   |NULL   |
|employer_founded           |double   |NULL   |
|employer_industry          |string   |NULL   |
|employer_revenue           |string   |NULL   |
|general_score              |double   |NULL   |
|culture_values_score       |double   |NULL   |
|diversity_inclusion_score  |double   |NULL   |
|life_quality_score         |double   |NULL   |
|senior_leadership_score    |double   |NULL   |
|compensation_benefits_score|double   |NULL   |
|career_opportunities_score |double   |NULL   |
|recommendation_score       |double   |NULL   |
|company_positive_score     |double   |NULL   |
|segment                    |string   |NULL   |
|financial_institution_name |string   |NULL   |
|cnpj                       |string   |NULL   |
+---------------------------+---------+-------+

In [52]:
spark.sql("SELECT * FROM trusted_employee_rename").show()

+--------------------+---------------------+----------------+--------------------+--------------------+-------------+--------------------+-------------------------+------------------+-----------------------+---------------------------+--------------------------+--------------------+----------------------+-------+--------------------------+--------+
|    employer_website|employer_headquarters|employer_founded|   employer_industry|    employer_revenue|general_score|culture_values_score|diversity_inclusion_score|life_quality_score|senior_leadership_score|compensation_benefits_score|career_opportunities_score|recommendation_score|company_positive_score|segment|financial_institution_name|    cnpj|
+--------------------+---------------------+----------------+--------------------+--------------------+-------------+--------------------+-------------------------+------------------+-----------------------+---------------------------+--------------------------+--------------------+----------------------+-------+--------------------------+--------+
|http://www.alfane...|    São Paulo, Brasil|          1925.0|/Explorar/melhore...|Desconhecida/não ...|          3.5|                 3.2|                      3.2|               3.1|                    2.8|                        3.8|                       2.7|                68.0|                  47.0|     S3|                      ALFA|    NULL|
|http://www.apexgr...|    Hamilton, Bermuda|          2003.0|/Explorar/melhore...|Mais de US$ 10 bi...|          3.2|                 2.9|                      3.5|               3.0|                    2.9|                        2.7|                       3.2|                52.0|                  53.0|   NULL|                APE POUPEX|00655522|
|http://www.apexgr...|    Hamilton, Bermuda|          2003.0|/Explorar/melhore...|Mais de US$ 10 bi...|          3.2|                 2.9|                      3.4|               3.0|                    2.9|                        2.7|                       3.2|                50.0|                  52.0|     S3|                APE POUPEX|    NULL|
|https://www.dayco...|    São Paulo, Brasil|          1971.0|/Explorar/melhore...|De US$ 25 a US$ 1...|          4.0|                 3.7|                      3.6|               3.4|                    3.3|                        4.1|                       3.4|                78.0|                  72.0|     S3|        BANCO DAYCOVAL S.A|    NULL|
|https://www.bb.co...|     Brasília, Brasil|          1808.0|/Explorar/melhore...|Desconhecida/não ...|          4.3|                 3.9|                      4.0|               3.7|                    3.5|                        4.2|                       3.8|                86.0|                  72.0|     S1|           BANCO DO BRASIL|    NULL|
|http://www.bnb.go...|    Fortaleza, Brasil|            NULL|/Explorar/melhore...|Desconhecido/Não ...|          4.5|                 4.4|                      4.3|               4.3|                    4.1|                        4.2|                       4.0|                90.0|                  83.0|     S2|      BANCO DO NORDESTE...|    NULL|
|http://www.bancof...|    São Paulo, Brasil|            NULL|/Explorar/melhore...|Desconhecida/não ...|          4.3|                 4.3|                      4.3|               3.8|                    3.7|                        4.2|                       3.6|                87.0|                  84.0|     S3|          BANCO FIBRA S.A.|    NULL|
|http://www.smfg.c...|        Tóquio, Japão|          1996.0|/Explorar/melhore...|Mais de US$ 10 bi...|          3.4|                 3.2|                      3.3|               3.4|                    3.1|                        3.3|                       3.1|                56.0|                  53.0|   NULL|      BANCO SUMITOMO MI...|60518222|
|http://www.smfg.c...|        Tóquio, Japão|          1996.0|/Explorar/melhore...|Mais de US$ 10 bi...|          3.4|                 3.3|                      3.2|               3.4|                    3.1|                        3.3|                       3.1|                56.0|                  54.0|     S3|      BANCO SUMITOMO MI...|    NULL|
|http://www.bk.muf...|        Tóquio, Japão|          1919.0|/Explorar/melhore...|Mais de US$ 10 bi...|          3.6|                 3.6|                      3.5|               3.4|                    3.3|                        3.6|                       3.3|                65.0|                  43.0|     S3|      BANCO TOKYO-MITSU...|    NULL|
|http://www.banris...| Porto Alegre, Brasil|            NULL|/Explorar/melhore...|De US$ 25 a US$ 1...|          4.2|                 3.6|                      3.8|               3.7|                    3.4|                        4.1|                       3.3|                84.0|                  59.0|     S2|                  BANRISUL|    NULL|
|http://www.bancob...|    São Paulo, Brasil|          1930.0|/Explorar/melhore...|De US$ 1 a US$ 5 ...|          4.1|                 3.9|                      4.1|               3.7|                    3.6|                        4.2|                       3.5|                79.0|                  63.0|     S3|                       BMG|    NULL|
|http://www.group....|        Paris, França|          2000.0|/Explorar/melhore...|Mais de US$ 10 bi...|          3.8|                 3.7|                      4.0|               3.8|                    3.4|                        3.4|                       3.5|                77.0|                  63.0|     S3|               BNP PARIBAS|    NULL|
|   http://www.ml.com| New York, Estados...|          1820.0|/Explorar/melhore...|Mais de US$ 10 bi...|          3.8|                 3.6|                      3.9|               3.5|                    3.5|                        3.8|                       3.8|                66.0|                  61.0|     S3|        BOFA MERRILL LYNCH|    NULL|
|http://www.bancob...|       Osasco, Brasil|          1943.0|/Explorar/melhore...|Mais de US$ 10 bi...|          4.2|                 3.8|                      3.9|               3.4|                    3.4|                        4.3|                       3.8|                81.0|                  66.0|     S1|                  BRADESCO|    NULL|
|http://www.btgpac...|    São Paulo, Brasil|            NULL|/Explorar/melhore...|Desconhecida/não ...|          4.0|                 3.7|                      3.5|               2.8|                    3.7|                        4.4|                       4.2|                78.0|                  73.0|     S1|               BTG PACTUAL|    NULL|
|http://www.caixa....|     BRASILIA, Brasil|            NULL|/Explorar/melhore...|Desconhecida/não ...|          4.4|                 3.8|                      4.2|               3.7|                    3.5|                        4.3|                       3.9|                86.0|                  72.0|     S1|      CAIXA ECONOMICA F...|    NULL|
|  http://www.ccb.com|        Pequim, China|            NULL|/Explorar/melhore...|Mais de US$ 10 bi...|          3.4|                 3.0|                      3.0|               3.4|                    2.9|                        3.5|                       2.8|                54.0|                  42.0|   NULL|      CHINA CONSTRUCTIO...|07450604|
|  http://www.ccb.com|        Pequim, China|            NULL|/Explorar/melhore...|Mais de US$ 10 bi...|          3.4|                 3.0|                      2.9|               3.4|                    2.9|                        3.5|                       2.8|                54.0|                  42.0|     S3|      CHINA CONSTRUCTIO...|    NULL|
|http://www.citigr...| New York, Estados...|          1812.0|/Explorar/melhore...|Mais de US$ 10 bi...|          3.9|                 3.8|                      4.1|               3.5|                    3.5|                        3.8|                       3.9|                76.0|                  68.0|     S2|                  CITIBANK|    NULL|
+--------------------+---------------------+----------------+--------------------+--------------------+-------------+--------------------+-------------------------+------------------+-----------------------+---------------------------+--------------------------+--------------------+----------------------+-------+--------------------------+--------+
only showing top 20 rows

Separando Estado e País da coluna employer-headquarters

In [53]:
spark.sql("""
CREATE OR REPLACE TEMPORARY VIEW trusted_employee_split AS
SELECT *,
       split(`employer_headquarters`, ',')[0] AS state_employer_headquarters,
       split(`employer_headquarters`, ',')[1] AS country_employer_headquarters
FROM trusted_employee_rename
""")

spark.sql("SELECT * FROM trusted_employee_split").show(truncate=False)

+-------------------------------+------------------------+----------------+-----------------------------------------------------------------------------------+---------------------------+-------------+--------------------+-------------------------+------------------+-----------------------+---------------------------+--------------------------+--------------------+----------------------+-------+--------------------------------------------------+--------+---------------------------+-----------------------------+
|employer_website               |employer_headquarters   |employer_founded|employer_industry                                                                  |employer_revenue           |general_score|culture_values_score|diversity_inclusion_score|life_quality_score|senior_leadership_score|compensation_benefits_score|career_opportunities_score|recommendation_score|company_positive_score|segment|financial_institution_name                        |cnpj    |state_employer_headquarters|country_employer_headquarters|
+-------------------------------+------------------------+----------------+-----------------------------------------------------------------------------------+---------------------------+-------------+--------------------+-------------------------+------------------+-----------------------+---------------------------+--------------------------+--------------------+----------------------+-------+--------------------------------------------------+--------+---------------------------+-----------------------------+
|http://www.alfanet.com.br      |São Paulo, Brasil       |1925.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Desconhecida/não se aplica |3.5          |3.2                 |3.2                      |3.1               |2.8                    |3.8                        |2.7                       |68.0                |47.0                  |S3     |ALFA                                              |NULL    |São Paulo                  | Brasil                      |
|http://www.apexgroup.com       |Hamilton, Bermuda       |2003.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |3.2          |2.9                 |3.5                      |3.0               |2.9                    |2.7                        |3.2                       |52.0                |53.0                  |NULL   |APE POUPEX                                        |00655522|Hamilton                   | Bermuda                     |
|http://www.apexgroup.com       |Hamilton, Bermuda       |2003.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |3.2          |2.9                 |3.4                      |3.0               |2.9                    |2.7                        |3.2                       |50.0                |52.0                  |S3     |APE POUPEX                                        |NULL    |Hamilton                   | Bermuda                     |
|https://www.daycoval.com.br    |São Paulo, Brasil       |1971.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |De US$ 25 a US$ 100 milhões|4.0          |3.7                 |3.6                      |3.4               |3.3                    |4.1                        |3.4                       |78.0                |72.0                  |S3     |BANCO DAYCOVAL S.A                                |NULL    |São Paulo                  | Brasil                      |
|https://www.bb.com.br          |Brasília, Brasil        |1808.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Desconhecida/não se aplica |4.3          |3.9                 |4.0                      |3.7               |3.5                    |4.2                        |3.8                       |86.0                |72.0                  |S1     |BANCO DO BRASIL                                   |NULL    |Brasília                   | Brasil                      |
|http://www.bnb.gov.br          |Fortaleza, Brasil       |NULL            |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Desconhecido/Não se aplica |4.5          |4.4                 |4.3                      |4.3               |4.1                    |4.2                        |4.0                       |90.0                |83.0                  |S2     |BANCO DO NORDESTE DO BRASIL S.A.                  |NULL    |Fortaleza                  | Brasil                      |
|http://www.bancofibra.com.br   |São Paulo, Brasil       |NULL            |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Desconhecida/não se aplica |4.3          |4.3                 |4.3                      |3.8               |3.7                    |4.2                        |3.6                       |87.0                |84.0                  |S3     |BANCO FIBRA S.A.                                  |NULL    |São Paulo                  | Brasil                      |
|http://www.smfg.co.jp          |Tóquio, Japão           |1996.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |3.4          |3.2                 |3.3                      |3.4               |3.1                    |3.3                        |3.1                       |56.0                |53.0                  |NULL   |BANCO SUMITOMO MITSUI BRASIL S.A.                 |60518222|Tóquio                     | Japão                       |
|http://www.smfg.co.jp          |Tóquio, Japão           |1996.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |3.4          |3.3                 |3.2                      |3.4               |3.1                    |3.3                        |3.1                       |56.0                |54.0                  |S3     |BANCO SUMITOMO MITSUI BRASIL S.A.                 |NULL    |Tóquio                     | Japão                       |
|http://www.bk.mufg.jp/global   |Tóquio, Japão           |1919.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |3.6          |3.6                 |3.5                      |3.4               |3.3                    |3.6                        |3.3                       |65.0                |43.0                  |S3     |BANCO TOKYO-MITSUBISHI BM S.A.                    |NULL    |Tóquio                     | Japão                       |
|http://www.banrisul.com.br     |Porto Alegre, Brasil    |NULL            |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |De US$ 25 a US$ 100 milhões|4.2          |3.6                 |3.8                      |3.7               |3.4                    |4.1                        |3.3                       |84.0                |59.0                  |S2     |BANRISUL                                          |NULL    |Porto Alegre               | Brasil                      |
|http://www.bancobmg.com.br     |São Paulo, Brasil       |1930.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |De US$ 1 a US$ 5 milhões   |4.1          |3.9                 |4.1                      |3.7               |3.6                    |4.2                        |3.5                       |79.0                |63.0                  |S3     |BMG                                               |NULL    |São Paulo                  | Brasil                      |
|http://www.group.bnpparibas    |Paris, França           |2000.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Mais de US$ 10 bilhões     |3.8          |3.7                 |4.0                      |3.8               |3.4                    |3.4                        |3.5                       |77.0                |63.0                  |S3     |BNP PARIBAS                                       |NULL    |Paris                      | França                      |
|http://www.ml.com              |New York, Estados Unidos|1820.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |3.8          |3.6                 |3.9                      |3.5               |3.5                    |3.8                        |3.8                       |66.0                |61.0                  |S3     |BOFA MERRILL LYNCH                                |NULL    |New York                   | Estados Unidos              |
|http://www.bancobradesco.com.br|Osasco, Brasil          |1943.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Mais de US$ 10 bilhões     |4.2          |3.8                 |3.9                      |3.4               |3.4                    |4.3                        |3.8                       |81.0                |66.0                  |S1     |BRADESCO                                          |NULL    |Osasco                     | Brasil                      |
|http://www.btgpactual.com      |São Paulo, Brasil       |NULL            |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Desconhecida/não se aplica |4.0          |3.7                 |3.5                      |2.8               |3.7                    |4.4                        |4.2                       |78.0                |73.0                  |S1     |BTG PACTUAL                                       |NULL    |São Paulo                  | Brasil                      |
|http://www.caixa.gov.br        |BRASILIA, Brasil        |NULL            |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Desconhecida/não se aplica |4.4          |3.8                 |4.2                      |3.7               |3.5                    |4.3                        |3.9                       |86.0                |72.0                  |S1     |CAIXA ECONOMICA FEDERAL                           |NULL    |BRASILIA                   | Brasil                      |
|http://www.ccb.com             |Pequim, China           |NULL            |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Mais de US$ 10 bilhões     |3.4          |3.0                 |3.0                      |3.4               |2.9                    |3.5                        |2.8                       |54.0                |42.0                  |NULL   |CHINA CONSTRUCTION BANK (BRASIL) BANCO MULTIPLO S/|07450604|Pequim                     | China                       |
|http://www.ccb.com             |Pequim, China           |NULL            |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Mais de US$ 10 bilhões     |3.4          |3.0                 |2.9                      |3.4               |2.9                    |3.5                        |2.8                       |54.0                |42.0                  |S3     |CHINA CONSTRUCTION BANK (BRASIL) BANCO MULTIPLO S/|NULL    |Pequim                     | China                       |
|http://www.citigroup.com       |New York, Estados Unidos|1812.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |3.9          |3.8                 |4.1                      |3.5               |3.5                    |3.8                        |3.9                       |76.0                |68.0                  |S2     |CITIBANK                                          |NULL    |New York                   | Estados Unidos              |
+-------------------------------+------------------------+----------------+-----------------------------------------------------------------------------------+---------------------------+-------------+--------------------+-------------------------+------------------+-----------------------+---------------------------+--------------------------+--------------------+----------------------+-------+--------------------------------------------------+--------+---------------------------+-----------------------------+
only showing top 20 rows

Converter a coluna 'employer-founded' para inteiro, mantendo valores nulos

In [54]:
spark.sql("""
CREATE OR REPLACE TEMPORARY VIEW trusted_employee_cast AS
SELECT *,
       CAST(employer_founded AS INT) AS employer_founded_correct
FROM trusted_employee_split
""")
spark.sql("SELECT * FROM trusted_employee_cast").show(truncate=False)

+-------------------------------+------------------------+----------------+-----------------------------------------------------------------------------------+---------------------------+-------------+--------------------+-------------------------+------------------+-----------------------+---------------------------+--------------------------+--------------------+----------------------+-------+--------------------------------------------------+--------+---------------------------+-----------------------------+------------------------+
|employer_website               |employer_headquarters   |employer_founded|employer_industry                                                                  |employer_revenue           |general_score|culture_values_score|diversity_inclusion_score|life_quality_score|senior_leadership_score|compensation_benefits_score|career_opportunities_score|recommendation_score|company_positive_score|segment|financial_institution_name                        |cnpj    |state_employer_headquarters|country_employer_headquarters|employer_founded_correct|
+-------------------------------+------------------------+----------------+-----------------------------------------------------------------------------------+---------------------------+-------------+--------------------+-------------------------+------------------+-----------------------+---------------------------+--------------------------+--------------------+----------------------+-------+--------------------------------------------------+--------+---------------------------+-----------------------------+------------------------+
|http://www.alfanet.com.br      |São Paulo, Brasil       |1925.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Desconhecida/não se aplica |3.5          |3.2                 |3.2                      |3.1               |2.8                    |3.8                        |2.7                       |68.0                |47.0                  |S3     |ALFA                                              |NULL    |São Paulo                  | Brasil                      |1925                    |
|http://www.apexgroup.com       |Hamilton, Bermuda       |2003.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |3.2          |2.9                 |3.5                      |3.0               |2.9                    |2.7                        |3.2                       |52.0                |53.0                  |NULL   |APE POUPEX                                        |00655522|Hamilton                   | Bermuda                     |2003                    |
|http://www.apexgroup.com       |Hamilton, Bermuda       |2003.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |3.2          |2.9                 |3.4                      |3.0               |2.9                    |2.7                        |3.2                       |50.0                |52.0                  |S3     |APE POUPEX                                        |NULL    |Hamilton                   | Bermuda                     |2003                    |
|https://www.daycoval.com.br    |São Paulo, Brasil       |1971.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |De US$ 25 a US$ 100 milhões|4.0          |3.7                 |3.6                      |3.4               |3.3                    |4.1                        |3.4                       |78.0                |72.0                  |S3     |BANCO DAYCOVAL S.A                                |NULL    |São Paulo                  | Brasil                      |1971                    |
|https://www.bb.com.br          |Brasília, Brasil        |1808.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Desconhecida/não se aplica |4.3          |3.9                 |4.0                      |3.7               |3.5                    |4.2                        |3.8                       |86.0                |72.0                  |S1     |BANCO DO BRASIL                                   |NULL    |Brasília                   | Brasil                      |1808                    |
|http://www.bnb.gov.br          |Fortaleza, Brasil       |NULL            |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Desconhecido/Não se aplica |4.5          |4.4                 |4.3                      |4.3               |4.1                    |4.2                        |4.0                       |90.0                |83.0                  |S2     |BANCO DO NORDESTE DO BRASIL S.A.                  |NULL    |Fortaleza                  | Brasil                      |NULL                    |
|http://www.bancofibra.com.br   |São Paulo, Brasil       |NULL            |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Desconhecida/não se aplica |4.3          |4.3                 |4.3                      |3.8               |3.7                    |4.2                        |3.6                       |87.0                |84.0                  |S3     |BANCO FIBRA S.A.                                  |NULL    |São Paulo                  | Brasil                      |NULL                    |
|http://www.smfg.co.jp          |Tóquio, Japão           |1996.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |3.4          |3.2                 |3.3                      |3.4               |3.1                    |3.3                        |3.1                       |56.0                |53.0                  |NULL   |BANCO SUMITOMO MITSUI BRASIL S.A.                 |60518222|Tóquio                     | Japão                       |1996                    |
|http://www.smfg.co.jp          |Tóquio, Japão           |1996.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |3.4          |3.3                 |3.2                      |3.4               |3.1                    |3.3                        |3.1                       |56.0                |54.0                  |S3     |BANCO SUMITOMO MITSUI BRASIL S.A.                 |NULL    |Tóquio                     | Japão                       |1996                    |
|http://www.bk.mufg.jp/global   |Tóquio, Japão           |1919.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |3.6          |3.6                 |3.5                      |3.4               |3.3                    |3.6                        |3.3                       |65.0                |43.0                  |S3     |BANCO TOKYO-MITSUBISHI BM S.A.                    |NULL    |Tóquio                     | Japão                       |1919                    |
|http://www.banrisul.com.br     |Porto Alegre, Brasil    |NULL            |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |De US$ 25 a US$ 100 milhões|4.2          |3.6                 |3.8                      |3.7               |3.4                    |4.1                        |3.3                       |84.0                |59.0                  |S2     |BANRISUL                                          |NULL    |Porto Alegre               | Brasil                      |NULL                    |
|http://www.bancobmg.com.br     |São Paulo, Brasil       |1930.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |De US$ 1 a US$ 5 milhões   |4.1          |3.9                 |4.1                      |3.7               |3.6                    |4.2                        |3.5                       |79.0                |63.0                  |S3     |BMG                                               |NULL    |São Paulo                  | Brasil                      |1930                    |
|http://www.group.bnpparibas    |Paris, França           |2000.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Mais de US$ 10 bilhões     |3.8          |3.7                 |4.0                      |3.8               |3.4                    |3.4                        |3.5                       |77.0                |63.0                  |S3     |BNP PARIBAS                                       |NULL    |Paris                      | França                      |2000                    |
|http://www.ml.com              |New York, Estados Unidos|1820.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |3.8          |3.6                 |3.9                      |3.5               |3.5                    |3.8                        |3.8                       |66.0                |61.0                  |S3     |BOFA MERRILL LYNCH                                |NULL    |New York                   | Estados Unidos              |1820                    |
|http://www.bancobradesco.com.br|Osasco, Brasil          |1943.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Mais de US$ 10 bilhões     |4.2          |3.8                 |3.9                      |3.4               |3.4                    |4.3                        |3.8                       |81.0                |66.0                  |S1     |BRADESCO                                          |NULL    |Osasco                     | Brasil                      |1943                    |
|http://www.btgpactual.com      |São Paulo, Brasil       |NULL            |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Desconhecida/não se aplica |4.0          |3.7                 |3.5                      |2.8               |3.7                    |4.4                        |4.2                       |78.0                |73.0                  |S1     |BTG PACTUAL                                       |NULL    |São Paulo                  | Brasil                      |NULL                    |
|http://www.caixa.gov.br        |BRASILIA, Brasil        |NULL            |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Desconhecida/não se aplica |4.4          |3.8                 |4.2                      |3.7               |3.5                    |4.3                        |3.9                       |86.0                |72.0                  |S1     |CAIXA ECONOMICA FEDERAL                           |NULL    |BRASILIA                   | Brasil                      |NULL                    |
|http://www.ccb.com             |Pequim, China           |NULL            |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Mais de US$ 10 bilhões     |3.4          |3.0                 |3.0                      |3.4               |2.9                    |3.5                        |2.8                       |54.0                |42.0                  |NULL   |CHINA CONSTRUCTION BANK (BRASIL) BANCO MULTIPLO S/|07450604|Pequim                     | China                       |NULL                    |
|http://www.ccb.com             |Pequim, China           |NULL            |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Mais de US$ 10 bilhões     |3.4          |3.0                 |2.9                      |3.4               |2.9                    |3.5                        |2.8                       |54.0                |42.0                  |S3     |CHINA CONSTRUCTION BANK (BRASIL) BANCO MULTIPLO S/|NULL    |Pequim                     | China                       |NULL                    |
|http://www.citigroup.com       |New York, Estados Unidos|1812.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |3.9          |3.8                 |4.1                      |3.5               |3.5                    |3.8                        |3.9                       |76.0                |68.0                  |S2     |CITIBANK                                          |NULL    |New York                   | Estados Unidos              |1812                    |
+-------------------------------+------------------------+----------------+-----------------------------------------------------------------------------------+---------------------------+-------------+--------------------+-------------------------+------------------+-----------------------+---------------------------+--------------------------+--------------------+----------------------+-------+--------------------------------------------------+--------+---------------------------+-----------------------------+------------------------+
only showing top 20 rows

In [55]:
trusted_employee_cast = spark.sql("SELECT * FROM trusted_employee_cast")
# Caminho no Google Drive para salvar os arquivos
drive_path = '/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/trusted'

# Criar a pasta se ela não existir
os.makedirs(drive_path, exist_ok=True)

# Caminho para salvar os arquivos
parquet_path = os.path.join(drive_path, 'employee.parquet')
csv_path = os.path.join(drive_path, 'employee.csv')

# Salvar o DataFrame como .parquet
trusted_employee_cast.write.mode("overwrite").parquet(parquet_path)

# Salvar o DataFrame como .csv (com cabeçalho)
trusted_employee_cast.write.mode("overwrite").option("header", "true").csv(csv_path)

print(f"Arquivos salvos em: {drive_path}")

Arquivos salvos em: /content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/trusted

### **Claims**

In [58]:
# Drive da camada RAW
parquet_path = '/content/drive/MyDrive/USP/3 - Ingestão de dados/Atividade4/raw/claim/claim_temp_filtered.parquet'

# Registrar o arquivo .parquet como uma tabela temporária
spark.read.parquet(parquet_path).createOrReplaceTempView("trusted_claim")
trusted_claim = spark.sql("SELECT * FROM trusted_claim")
trusted_claim.show(truncate=False)

+----+---------+------------------------------------------------------+----------------+--------+----------------------------------------------------------------+------+-----------------------------------------------+--------------------------------------------+---------------------------------------+-------------------------------+----------------------------------------+----------------------------+----------------------------+
|Ano |Trimestre|Categoria                                             |Tipo            |CNPJ IF |Instituição financeira                                          |Índice|Quantidade de reclamações reguladas procedentes|Quantidade de reclamações reguladas - outras|Quantidade de reclamações não reguladas|Quantidade total de reclamações|Quantidade total de clientes  CCS e SCR|Quantidade de clientes  CCS|Quantidade de clientes  SCR|
+----+---------+------------------------------------------------------+----------------+--------+----------------------------------------------------------------+------+-----------------------------------------------+--------------------------------------------+---------------------------------------+-------------------------------+----------------------------------------+----------------------------+----------------------------+
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |ABC-BRASIL (conglomerado)                                       |      |4                                              |7                                           |3                                      |14                             |50720                                   |47485                       |6932                        |
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |ABN AMRO (conglomerado)                                         |      |0                                              |0                                           |1                                      |1                              |0                                       |0                           |                            |
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|13140088|ACESSO SOLUÇÕES DE PAGAMENTO S.A.                               |14,70 |75                                             |128                                         |9                                      |212                            |5098671                                 |5098661                     |19396                       |
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |AGIBANK (conglomerado)                                          |96,00 |182                                            |262                                         |95                                     |539                            |1895683                                 |1540134                     |1176067                     |
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|36321990|AGORACRED S/A SOCIEDADE DE CRÉDITO, FINANCIAMENTO E INVESTIMENTO|      |4                                              |4                                           |2                                      |10                             |534795                                  |133                         |534662                      |
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|27214112|AL5 S.A. CRÉDITO, FINANCIAMENTO E INVESTIMENTO                  |      |10                                             |3                                           |2                                      |15                             |30959                                   |19706                       |16841                       |
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |ALFA (conglomerado)                                             |      |23                                             |48                                          |9                                      |80                             |436746                                  |267423                      |170417                      |
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|32778350|AME DIGITAL BRASIL INSTITUICAO DE PAGAMENTO LTDA                |      |6                                              |31                                          |90                                     |127                            |0                                       |0                           |0                           |
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |ANDBANK (conglomerado)                                          |      |0                                              |2                                           |2                                      |4                              |4302                                    |4302                        |29                          |
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|19540550|ASAAS GESTÃO FINANCEIRA INSTITUIÇÃO DE PAGAMENTO S.A.           |      |8                                              |42                                          |5                                      |55                             |404447                                  |404447                      |                            |
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|54403563|BANCO ARBI S.A.                                                 |      |14                                             |8                                           |0                                      |22                             |84526                                   |75882                       |10846                       |
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|00997185|BANCO B3 S.A.                                                   |      |0                                              |1                                           |1                                      |2                              |896                                     |896                         |                            |
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|02658435|BANCO CATERPILLAR S.A.                                          |      |1                                              |0                                           |0                                      |1                              |3325                                    |                            |3325                        |
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|33132044|BANCO CEDULA S.A.                                               |      |0                                              |1                                           |1                                      |2                              |18010                                   |2805                        |15425                       |
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|02992446|BANCO CNH INDUSTRIAL CAPITAL S.A.                               |      |0                                              |2                                           |2                                      |4                              |28887                                   |1290                        |27778                       |
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|08357240|BANCO CSF S.A.                                                  |9,98  |77                                             |72                                          |43                                     |192                            |7707988                                 |                            |7707988                     |
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|04902979|BANCO DA AMAZONIA S.A.                                          |      |6                                              |7                                           |10                                     |23                             |507169                                  |507169                      |                            |
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|33042151|BANCO DE LA NACION ARGENTINA                                    |      |0                                              |2                                           |0                                      |2                              |267                                     |255                         |22                          |
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|05040481|BANCO DE LAGE LANDEN BRASIL S.A.                                |      |0                                              |0                                           |1                                      |1                              |35292                                   |4                           |35289                       |
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|92874270|BANCO DIGIMAIS S.A.                                             |424,80|132                                            |31                                          |33                                     |196                            |310734                                  |142304                      |203761                      |
+----+---------+------------------------------------------------------+----------------+--------+----------------------------------------------------------------+------+-----------------------------------------------+--------------------------------------------+---------------------------------------+-------------------------------+----------------------------------------+----------------------------+----------------------------+
only showing top 20 rows

In [59]:
spark.sql("""
CREATE OR REPLACE TEMPORARY VIEW trusted_claim_view AS
SELECT Ano AS year_claim,
       Trimestre AS quarter_claim,
       Categoria AS category,
       Tipo AS bank_type,
       `CNPJ IF` AS cnpj,
       `Instituição financeira` AS financial_institution_name,
       `Índice` AS bank_index,
       `Quantidade de reclamações reguladas procedentes` AS number_of_regulated_proceeding_complaints,
       `Quantidade de reclamações reguladas - outras` AS number_of_regulated_other_complaints,
       `Quantidade de reclamações não reguladas` AS number_of_non_regulated_complaints,
       `Quantidade total de reclamações` AS total_number_of_complaints,
       `Quantidade total de clientes  CCS e SCR` AS total_number_of_customers,
       `Quantidade de clientes  CCS` AS number_of_ccs_customers,
       `Quantidade de clientes  SCR` AS number_of_scr_customers
FROM trusted_claim
""")
trzd_claim = spark.sql("SELECT * FROM trusted_claim_view")
trzd_claim.show(truncate=False)

+----------+-------------+------------------------------------------------------+----------------+--------+----------------------------------------------------------------+----------+-----------------------------------------+------------------------------------+----------------------------------+--------------------------+-------------------------+-----------------------+-----------------------+
|year_claim|quarter_claim|category                                              |bank_type       |cnpj    |financial_institution_name                                      |bank_index|number_of_regulated_proceeding_complaints|number_of_regulated_other_complaints|number_of_non_regulated_complaints|total_number_of_complaints|total_number_of_customers|number_of_ccs_customers|number_of_scr_customers|
+----------+-------------+------------------------------------------------------+----------------+--------+----------------------------------------------------------------+----------+-----------------------------------------+------------------------------------+----------------------------------+--------------------------+-------------------------+-----------------------+-----------------------+
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |ABC-BRASIL (conglomerado)                                       |          |4                                        |7                                   |3                                 |14                        |50720                    |47485                  |6932                   |
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |ABN AMRO (conglomerado)                                         |          |0                                        |0                                   |1                                 |1                         |0                        |0                      |                       |
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|13140088|ACESSO SOLUÇÕES DE PAGAMENTO S.A.                               |14,70     |75                                       |128                                 |9                                 |212                       |5098671                  |5098661                |19396                  |
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |AGIBANK (conglomerado)                                          |96,00     |182                                      |262                                 |95                                |539                       |1895683                  |1540134                |1176067                |
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|36321990|AGORACRED S/A SOCIEDADE DE CRÉDITO, FINANCIAMENTO E INVESTIMENTO|          |4                                        |4                                   |2                                 |10                        |534795                   |133                    |534662                 |
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|27214112|AL5 S.A. CRÉDITO, FINANCIAMENTO E INVESTIMENTO                  |          |10                                       |3                                   |2                                 |15                        |30959                    |19706                  |16841                  |
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |ALFA (conglomerado)                                             |          |23                                       |48                                  |9                                 |80                        |436746                   |267423                 |170417                 |
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|32778350|AME DIGITAL BRASIL INSTITUICAO DE PAGAMENTO LTDA                |          |6                                        |31                                  |90                                |127                       |0                        |0                      |0                      |
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |ANDBANK (conglomerado)                                          |          |0                                        |2                                   |2                                 |4                         |4302                     |4302                   |29                     |
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|19540550|ASAAS GESTÃO FINANCEIRA INSTITUIÇÃO DE PAGAMENTO S.A.           |          |8                                        |42                                  |5                                 |55                        |404447                   |404447                 |                       |
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|54403563|BANCO ARBI S.A.                                                 |          |14                                       |8                                   |0                                 |22                        |84526                    |75882                  |10846                  |
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|00997185|BANCO B3 S.A.                                                   |          |0                                        |1                                   |1                                 |2                         |896                      |896                    |                       |
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|02658435|BANCO CATERPILLAR S.A.                                          |          |1                                        |0                                   |0                                 |1                         |3325                     |                       |3325                   |
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|33132044|BANCO CEDULA S.A.                                               |          |0                                        |1                                   |1                                 |2                         |18010                    |2805                   |15425                  |
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|02992446|BANCO CNH INDUSTRIAL CAPITAL S.A.                               |          |0                                        |2                                   |2                                 |4                         |28887                    |1290                   |27778                  |
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|08357240|BANCO CSF S.A.                                                  |9,98      |77                                       |72                                  |43                                |192                       |7707988                  |                       |7707988                |
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|04902979|BANCO DA AMAZONIA S.A.                                          |          |6                                        |7                                   |10                                |23                        |507169                   |507169                 |                       |
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|33042151|BANCO DE LA NACION ARGENTINA                                    |          |0                                        |2                                   |0                                 |2                         |267                      |255                    |22                     |
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|05040481|BANCO DE LAGE LANDEN BRASIL S.A.                                |          |0                                        |0                                   |1                                 |1                         |35292                    |4                      |35289                  |
|2022      |3º           |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|92874270|BANCO DIGIMAIS S.A.                                             |424,80    |132                                      |31                                  |33                                |196                       |310734                   |142304                 |203761                 |
+----------+-------------+------------------------------------------------------+----------------+--------+----------------------------------------------------------------+----------+-----------------------------------------+------------------------------------+----------------------------------+--------------------------+-------------------------+-----------------------+-----------------------+
only showing top 20 rows

In [60]:
spark.sql("""
CREATE OR REPLACE TEMPORARY VIEW trusted_claim_view_transformed AS
SELECT year_claim,
       regexp_replace(quarter_claim, 'º', '') AS quarter_claim,
       category,
       bank_type,
       CASE
           WHEN cnpj = ' ' THEN NULL
           ELSE LPAD(cnpj, 8, '0')
       END AS cnpj,
       financial_institution_name,
       CAST(regexp_replace(regexp_replace(regexp_replace(`bank_index`, r'\.', ''), r',', '.'), r' ', '') AS FLOAT) AS bank_index,
       number_of_regulated_proceeding_complaints,
       number_of_regulated_other_complaints,
       number_of_non_regulated_complaints,
       total_number_of_complaints,
       total_number_of_customers,
       number_of_ccs_customers,
       number_of_scr_customers
FROM trusted_claim_view
""")
trzd_claim = spark.sql("SELECT * FROM trzd_claim_view_transformed")
trzd_claim.show(truncate=False)

+-------+---------------------------------------------+--------+
|segment|financial_institution_name                   |cnpj    |
+-------+---------------------------------------------+--------+
|S1     |BANCO DO BRASIL - PRUDENCIAL                 |00000000|
|S1     |BRADESCO - PRUDENCIAL                        |60746948|
|S1     |BTG PACTUAL - PRUDENCIAL                     |30306294|
|S1     |CAIXA ECONOMICA FEDERAL - PRUDENCIAL         |00360305|
|S1     |ITAU - PRUDENCIAL                            |60872504|
|S1     |SANTANDER - PRUDENCIAL                       |90400888|
|S2     |BANRISUL - PRUDENCIAL                        |92702067|
|S2     |BANCO DO NORDESTE DO BRASIL S.A. - PRUDENCIAL|07237373|
|S2     |BNDES - PRUDENCIAL                           |33657248|
|S2     |CITIBANK - PRUDENCIAL                        |33479023|
|S2     |CREDIT SUISSE - PRUDENCIAL                   |33987793|
|S2     |SAFRA - PRUDENCIAL                           |58160789|
|S2     |VOTORANTIM - PRUDENCIAL                      |59588111|
|S3     |ABC-BRASIL - PRUDENCIAL                      |28195667|
|S3     |ALFA - PRUDENCIAL                            |60770336|
|S3     |APE POUPEX                                   |00655522|
|S3     |BANCO CNH INDUSTRIAL CAPITAL S.A - PRUDENCIAL|02992446|
|S3     |BANCOOB - PRUDENCIAL                         |02038232|
|S3     |BANESTES - PRUDENCIAL                        |28127603|
|S3     |BANCO CLASSICO S.A. - PRUDENCIAL             |31597552|
+-------+---------------------------------------------+--------+
only showing top 20 rows

In [62]:
spark.sql("""
CREATE OR REPLACE TEMPORARY VIEW trusted_claim_view_transformed2 AS
SELECT year_claim,
       quarter_claim,
       category,
       bank_type,
       cnpj,
       financial_institution_name,
       bank_index,
       number_of_regulated_proceeding_complaints,
       number_of_regulated_other_complaints,
       number_of_non_regulated_complaints,
       total_number_of_complaints,
       CAST(regexp_replace(total_number_of_customers, r' ', '') AS INT) AS total_number_of_customers,
       CAST(regexp_replace(`number_of_ccs_customers`, r' ', '') AS INT) AS number_of_ccs_customers,
       CAST(regexp_replace(`number_of_scr_customers`, r' ', '') AS INT) AS number_of_scr_customers
FROM trusted_claim_view_transformed
""")
trzd_claim = spark.sql("SELECT * FROM trusted_claim_view_transformed2")
trzd_claim.show(truncate=False)

+----------+-------------+------------------------------------------------------+----------------+--------+----------------------------------------------------------------+----------+-----------------------------------------+------------------------------------+----------------------------------+--------------------------+-------------------------+-----------------------+-----------------------+
|year_claim|quarter_claim|category                                              |bank_type       |cnpj    |financial_institution_name                                      |bank_index|number_of_regulated_proceeding_complaints|number_of_regulated_other_complaints|number_of_non_regulated_complaints|total_number_of_complaints|total_number_of_customers|number_of_ccs_customers|number_of_scr_customers|
+----------+-------------+------------------------------------------------------+----------------+--------+----------------------------------------------------------------+----------+-----------------------------------------+------------------------------------+----------------------------------+--------------------------+-------------------------+-----------------------+-----------------------+
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |NULL    |ABC-BRASIL (conglomerado)                                       |NULL      |4                                        |7                                   |3                                 |14                        |50720                    |47485                  |6932                   |
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |NULL    |ABN AMRO (conglomerado)                                         |NULL      |0                                        |0                                   |1                                 |1                         |0                        |0                      |NULL                   |
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|13140088|ACESSO SOLUÇÕES DE PAGAMENTO S.A.                               |14.7      |75                                       |128                                 |9                                 |212                       |5098671                  |5098661                |19396                  |
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |NULL    |AGIBANK (conglomerado)                                          |96.0      |182                                      |262                                 |95                                |539                       |1895683                  |1540134                |1176067                |
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|36321990|AGORACRED S/A SOCIEDADE DE CRÉDITO, FINANCIAMENTO E INVESTIMENTO|NULL      |4                                        |4                                   |2                                 |10                        |534795                   |133                    |534662                 |
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|27214112|AL5 S.A. CRÉDITO, FINANCIAMENTO E INVESTIMENTO                  |NULL      |10                                       |3                                   |2                                 |15                        |30959                    |19706                  |16841                  |
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |NULL    |ALFA (conglomerado)                                             |NULL      |23                                       |48                                  |9                                 |80                        |436746                   |267423                 |170417                 |
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|32778350|AME DIGITAL BRASIL INSTITUICAO DE PAGAMENTO LTDA                |NULL      |6                                        |31                                  |90                                |127                       |0                        |0                      |0                      |
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |NULL    |ANDBANK (conglomerado)                                          |NULL      |0                                        |2                                   |2                                 |4                         |4302                     |4302                   |29                     |
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|19540550|ASAAS GESTÃO FINANCEIRA INSTITUIÇÃO DE PAGAMENTO S.A.           |NULL      |8                                        |42                                  |5                                 |55                        |404447                   |404447                 |NULL                   |
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|54403563|BANCO ARBI S.A.                                                 |NULL      |14                                       |8                                   |0                                 |22                        |84526                    |75882                  |10846                  |
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|00997185|BANCO B3 S.A.                                                   |NULL      |0                                        |1                                   |1                                 |2                         |896                      |896                    |NULL                   |
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|02658435|BANCO CATERPILLAR S.A.                                          |NULL      |1                                        |0                                   |0                                 |1                         |3325                     |NULL                   |3325                   |
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|33132044|BANCO CEDULA S.A.                                               |NULL      |0                                        |1                                   |1                                 |2                         |18010                    |2805                   |15425                  |
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|02992446|BANCO CNH INDUSTRIAL CAPITAL S.A.                               |NULL      |0                                        |2                                   |2                                 |4                         |28887                    |1290                   |27778                  |
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|08357240|BANCO CSF S.A.                                                  |9.98      |77                                       |72                                  |43                                |192                       |7707988                  |NULL                   |7707988                |
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|04902979|BANCO DA AMAZONIA S.A.                                          |NULL      |6                                        |7                                   |10                                |23                        |507169                   |507169                 |NULL                   |
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|33042151|BANCO DE LA NACION ARGENTINA                                    |NULL      |0                                        |2                                   |0                                 |2                         |267                      |255                    |22                     |
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|05040481|BANCO DE LAGE LANDEN BRASIL S.A.                                |NULL      |0                                        |0                                   |1                                 |1                         |35292                    |4                      |35289                  |
|2022      |3            |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|92874270|BANCO DIGIMAIS S.A.                                             |424.8     |132                                      |31                                  |33                                |196                       |310734                   |142304                 |203761                 |
+----------+-------------+------------------------------------------------------+----------------+--------+----------------------------------------------------------------+----------+-----------------------------------------+------------------------------------+----------------------------------+--------------------------+-------------------------+-----------------------+-----------------------+
only showing top 20 rows

---
## **Delivery**