# eEDB-011-2024-3

## Atividade 4 – Ingestão e ETL com linguagem de programação (Python + Spark + SQL)

* Utilizar linguagem de programação Python para ingestão e tratamento de dados. Para processo de transformação
deve ser realizado via SQL com uma das seguintes ferramentas:
  * DBT (indicada)
  *  SQL Mash – alternativa
  *  Coalesce - Alternativa

*  Base final deve ser um banco de dados relacional já utilizado nos exercícios anteriores.
* O processamento SQL deve ser utilizado via ferramenta mais uma engine de SQL que pode ser o próprio Banco de
Dados bem como um banco de dados em memória como Duckdb ou SLQLite, ou qualquer outra alternativa.
*  Gerar uma tabela final com os dados tratados e unidos.
  * O tratamento de dados deve ser realizado através da ferramenta escolhida para SQL
*  Adicionar as seguintes camadas de processamento, dentro do próprio banco de dados ou em disco local. A
Camada Delivery deve obrigatoriamente ter estar também no formato de uma tabela final dentro do banco de
dados relacional:
  *  RAW – formato dos dados livre
  *  Trusted – formato de dados em Parquet ou ORC or AVRO (indicado Parquet)
  *  Delivery– formato de dados em Parquet ou ORC or AVRO (indicado Parquet)

- **Grupo 02**:
    - Aline Bini
    - Ana Lívia Franco
    - Ana Priss
    - João Squinelato
    - Marcelo Pena
    - Thais Siqueira

- [Github](https://github.com/Squinelato/eEDB-011-2024-3 "eEDB-011-2024-3")

```Ingestão De Dados | Agosto 2024```

## To Do

- raw
- trusted
- delivery

In [1]:
%pip install pyspark
%pip install unidecode
%pip install findspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.2)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: unidecode in /usr/local/lib/python3.10/dist-packages (1.3.8)
Requirement already satisfied: findspark in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lpad, col, lpad, concat, sha1, regexp_replace, udf, lower, lit, when
from pyspark.sql.types import StringType, FloatType, IntegerType, StructType, StructField, ArrayType
from unidecode import unidecode

import findspark
import os

In [3]:
findspark.init()

In [4]:
spark = SparkSession.builder \
    .master('local') \
    .appName('Basic ETL') \
    .config('spark.executor.timeout', "1200s") \
    .config('spark.sql.broadcastTimeout', '1200s') \
    .config('spark.rpc.askTimeout', '600s') \
    .config('spark.executor.heartbeatInterval', '120s') \
    .config('spark.network.timeout', '1200s') \
    .getOrCreate()

In [5]:
spark

---
## **Raw**

### **Banks file**

In [67]:
# banks_csv_path = '../Fonte de Dados/Bancos/EnquadramentoInicia_v2.tsv'
banks_csv_path = '/content/drive/MyDrive/eEDB-011-2024-3/Fonte de Dados/Bancos/EnquadramentoInicia_v2.tsv'

# Leitura do arquivo CSV e criação da view temporária
bank_df = spark.read.csv(banks_csv_path, sep='\t', encoding='utf8', header=True)
bank_df.createOrReplaceTempView("bank_temp")
spark.sql("SELECT * FROM bank_temp LIMIT 100").show(truncate=False)

+--------+--------+---------------------------------------------+
|Segmento|CNPJ    |Nome                                         |
+--------+--------+---------------------------------------------+
|S1      |0       |BANCO DO BRASIL - PRUDENCIAL                 |
|S1      |60746948|BRADESCO - PRUDENCIAL                        |
|S1      |30306294|BTG PACTUAL - PRUDENCIAL                     |
|S1      |360305  |CAIXA ECONOMICA FEDERAL - PRUDENCIAL         |
|S1      |60872504|ITAU - PRUDENCIAL                            |
|S1      |90400888|SANTANDER - PRUDENCIAL                       |
|S2      |92702067|BANRISUL - PRUDENCIAL                        |
|S2      |7237373 |BANCO DO NORDESTE DO BRASIL S.A. - PRUDENCIAL|
|S2      |33657248|BNDES - PRUDENCIAL                           |
|S2      |33479023|CITIBANK - PRUDENCIAL                        |
|S2      |33987793|CREDIT SUISSE - PRUDENCIAL                   |
|S2      |58160789|SAFRA - PRUDENCIAL                           |
|S2      |59588111|VOTORANTIM - PRUDENCIAL                      |
|S3      |28195667|ABC-BRASIL - PRUDENCIAL                      |
|S3      |60770336|ALFA - PRUDENCIAL                            |
|S3      |655522  |APE POUPEX                                   |
|S3      |2992446 |BANCO CNH INDUSTRIAL CAPITAL S.A - PRUDENCIAL|
|S3      |2038232 |BANCOOB - PRUDENCIAL                         |
|S3      |28127603|BANESTES - PRUDENCIAL                        |
|S3      |31597552|BANCO CLASSICO S.A. - PRUDENCIAL             |
+--------+--------+---------------------------------------------+
only showing top 20 rows

Analisando o esquema dos dados

In [68]:
spark.sql("DESCRIBE bank_temp").show(truncate=False)

+--------+---------+-------+
|col_name|data_type|comment|
+--------+---------+-------+
|Segmento|string   |NULL   |
|CNPJ    |string   |NULL   |
|Nome    |string   |NULL   |
+--------+---------+-------+

Contando a quantidade de linhas

In [69]:
total_records = spark.sql("SELECT COUNT(*) AS total FROM bank_temp").collect()[0]['total']
print(f"Total de registros: {total_records}")

Total de registros: 1474

Salvando dados na camada _raw_ no formato parquet

In [70]:
# raw_bank_path = './raw/bank/'
# rwzd_bank.write.parquet(raw_bank_path, mode="append")

spark.sql("""
CREATE TABLE rwzd_bank
USING parquet
LOCATION './raw/bank/'
AS
SELECT *
FROM bank_temp
""")
spark.sql("DESCRIBE rwzd_bank").show(truncate=False)

+--------+---------+-------+
|col_name|data_type|comment|
+--------+---------+-------+
|Segmento|string   |NULL   |
|CNPJ    |string   |NULL   |
|Nome    |string   |NULL   |
+--------+---------+-------+

### **Employees file**

Localizando todos os arquivos contendo dados de empregados

In [71]:
# employee_dir = '../Fonte de Dados/Empregados/'
employee_dir = '/content/drive/MyDrive/eEDB-011-2024-3/Fonte de Dados/Empregados'
employee_files = os.listdir(employee_dir)
employee_paths = list(map(lambda file: os.path.join(employee_dir, file), employee_files))[1]
employee_paths

'/content/drive/MyDrive/eEDB-011-2024-3/Fonte de Dados/Empregados/glassdoor_consolidado_join_match_v2.csv'

Lendo todos os arquivos de empregados como um único conjunto de dados

In [72]:
employee_df = spark.read.csv(employee_paths, sep='|', encoding='utf8', header=True)
employee_df.createOrReplaceTempView("employee_temp")
spark.sql("SELECT * FROM employee_temp LIMIT 100").show()

+--------------------+-------------+-------------+--------------+--------------+--------------------+---------------------+----------------+--------------------+--------------------+--------------------+-----+-----------------+----------------------+-----------------+--------------+------------------------+-------------------------+---------------------------------+----------------------------------+--------+--------------------+-------------+
|       employer_name|reviews_count|culture_count|salaries_count|benefits_count|    employer-website|employer-headquarters|employer-founded|   employer-industry|    employer-revenue|                 url|Geral|Cultura e valores|Diversidade e inclusão|Qualidade de vida|Alta liderança|Remuneração e benefícios|Oportunidades de carreira|Recomendam para outras pessoas(%)|Perspectiva positiva da empresa(%)|Segmento|                Nome|match_percent|
+--------------------+-------------+-------------+--------------+--------------+--------------------+---------------------+----------------+--------------------+--------------------+--------------------+-----+-----------------+----------------------+-----------------+--------------+------------------------+-------------------------+---------------------------------+----------------------------------+--------+--------------------+-------------+
|         BNP Paribas|        13000|         4100|         20000|          3600|http://www.group....|        Paris, França|          2000.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  3.8|              3.7|                   4.0|              3.8|           3.4|                     3.4|                      3.5|                             77.0|                              63.0|      S3|         BNP PARIBAS|          100|
|         BTG Pactual|         1600|          683|          2800|           635|http://www.btgpac...|    São Paulo, Brasil|            NULL|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  4.0|              3.7|                   3.5|              2.8|           3.7|                     4.4|                      4.2|                             78.0|                              73.0|      S1|         BTG PACTUAL|          100|
|          Banco Alfa|          175|           74|           271|           105|http://www.alfane...|    São Paulo, Brasil|          1925.0|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  3.5|              3.2|                   3.2|              3.1|           2.8|                     3.8|                      2.7|                             68.0|                              47.0|      S3|                ALFA|          100|
|           Banco BMG|          445|          232|           704|           277|http://www.bancob...|    São Paulo, Brasil|          1930.0|/Explorar/melhore...|De US$ 1 a US$ 5 ...|https://www.glass...|  4.1|              3.9|                   4.1|              3.7|           3.6|                     4.2|                      3.5|                             79.0|                              63.0|      S3|                 BMG|          100|
|      Banco Bradesco|        11000|         3300|         19000|          3200|http://www.bancob...|       Osasco, Brasil|          1943.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  4.2|              3.8|                   3.9|              3.4|           3.4|                     4.3|                      3.8|                             81.0|                              66.0|      S1|            BRADESCO|          100|
|      Banco Daycoval|          300|          157|           521|           107|https://www.dayco...|    São Paulo, Brasil|          1971.0|/Explorar/melhore...|De US$ 25 a US$ 1...|https://www.glass...|  4.0|              3.7|                   3.6|              3.4|           3.3|                     4.1|                      3.4|                             78.0|                              72.0|      S3|  BANCO DAYCOVAL S.A|          100|
|         Banco Fibra|          119|           41|           172|            37|http://www.bancof...|    São Paulo, Brasil|            NULL|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  4.3|              4.3|                   4.3|              3.8|           3.7|                     4.2|                      3.6|                             87.0|                              84.0|      S3|    BANCO FIBRA S.A.|          100|
|      Banco Original|          651|          286|          1100|           261|http://www.origin...|    São Paulo, Brasil|          2016.0|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  3.8|              3.4|                   3.5|              3.4|           3.1|                     4.0|                      3.3|                             71.0|                              53.0|      S3|            ORIGINAL|          100|
|           Banco PAN|         1100|          520|          1700|           493|http://www.bancop...|    São Paulo, Brasil|          2011.0|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  4.4|              4.2|                   4.4|              3.9|           3.9|                     4.6|                      4.0|                             91.0|                              79.0|      S3|                 PAN|          100|
|          Banco Pine|          121|           45|           216|            63| http://www.pine.com|    São Paulo, Brasil|          1997.0|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  3.8|              3.5|                   3.5|              3.4|           3.0|                     3.9|                      3.5|                             71.0|                              50.0|      S3|                PINE|          100|
|    Banco Votorantim|         1400|          563|          2100|           574|http://www.bancob...|    São Paulo, Brasil|          1991.0|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  4.4|              4.3|                   4.4|              4.1|           3.9|                     4.6|                      3.9|                             93.0|                              79.0|      S2|          VOTORANTIM|          100|
|     Banco do Brasil|         5000|         1100|          9200|          1200|https://www.bb.co...|     Brasília, Brasil|          1808.0|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  4.3|              3.9|                   4.0|              3.7|           3.5|                     4.2|                      3.8|                             86.0|                              72.0|      S1|     BANCO DO BRASIL|          100|
|Banco do Nordeste...|          525|          113|           840|           115|http://www.bnb.go...|    Fortaleza, Brasil|            NULL|/Explorar/melhore...|Desconhecido/Não ...|https://www.glass...|  4.5|              4.4|                   4.3|              4.3|           4.1|                     4.2|                      4.0|                             90.0|                              83.0|      S2|BANCO DO NORDESTE...|          100|
|Bank Of Tokyo-Mit...|          770|          150|          1100|           228|http://www.bk.muf...|        Tóquio, Japão|          1919.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  3.6|              3.6|                   3.5|              3.4|           3.3|                     3.6|                      3.3|                             65.0|                              43.0|      S3|BANCO TOKYO-MITSU...|           80|
|            Banrisul|         1000|          155|          1700|           127|http://www.banris...| Porto Alegre, Brasil|            NULL|/Explorar/melhore...|De US$ 25 a US$ 1...|https://www.glass...|  4.2|              3.6|                   3.8|              3.7|           3.4|                     4.1|                      3.3|                             84.0|                              59.0|      S2|            BANRISUL|          100|
|Caixa Econômica F...|         4000|          717|          7300|           857|http://www.caixa....|     BRASILIA, Brasil|            NULL|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  4.4|              3.8|                   4.2|              3.7|           3.5|                     4.3|                      3.9|                             86.0|                              72.0|      S1|CAIXA ECONOMICA F...|           98|
|                Citi|        31000|         8900|         52000|          9900|http://www.citigr...| New York, Estados...|          1812.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  3.9|              3.8|                   4.1|              3.5|           3.5|                     3.8|                      3.9|                             76.0|                              68.0|      S2|            CITIBANK|          100|
|       Credit Suisse|        11000|         3400|         22000|          2900|http://www.credit...|       Zurique, Suíça|          1856.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  3.8|              3.8|                   4.1|              3.9|           3.3|                     3.6|                      3.7|                             68.0|                              34.0|      S2|       CREDIT SUISSE|          100|
|       Deutsche Bank|        12000|         3200|         21000|          3100|https://careers.d...| Frankfurt am Main...|          1870.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  3.9|              3.8|                   4.0|              3.8|           3.5|                     3.6|                      3.7|                             78.0|                              70.0|      S3|            DEUTSCHE|          100|
|       Goldman Sachs|        17000|         4400|         36000|          4100|http://www.goldma...| New York, Estados...|          1869.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  3.9|              3.7|                   4.0|              2.9|           3.5|                     3.8|                      4.0|                             72.0|                              63.0|      S3|       GOLDMAN SACHS|          100|
+--------------------+-------------+-------------+--------------+--------------+--------------------+---------------------+----------------+--------------------+--------------------+--------------------+-----+-----------------+----------------------+-----------------+--------------+------------------------+-------------------------+---------------------------------+----------------------------------+--------+--------------------+-------------+
only showing top 20 rows

In [73]:
total_records_employee = spark.sql("SELECT COUNT(*) AS total FROM employee_temp").collect()[0]['total']
print(f"Total de registros: {total_records_employee}")

Total de registros: 34

Removendo duplicatas com base no nome e segmento do banco

In [74]:
# Remover duplicatas com base nas colunas 'Nome' e 'Segmento'
spark.sql("""
CREATE OR REPLACE TEMPORARY VIEW employee_temp_dedup AS
SELECT *
FROM (
    SELECT *, ROW_NUMBER() OVER (PARTITION BY Nome, Segmento ORDER BY Nome) AS row_num
    FROM employee_temp
) tmp
WHERE row_num = 1
""")
spark.sql("SELECT * FROM employee_temp_dedup").show(truncate=False)

+-------------------------------+-------------+-------------+--------------+--------------+-------------------------------+---------------------------+----------------+-----------------------------------------------------------------------------------+---------------------------+----------------------------------------------------------------------------------------------------------------+-----+-----------------+----------------------+-----------------+--------------+------------------------+-------------------------+---------------------------------+----------------------------------+--------+--------------------------------------------------+-------------+-------+
|employer_name                  |reviews_count|culture_count|salaries_count|benefits_count|employer-website               |employer-headquarters      |employer-founded|employer-industry                                                                  |employer-revenue           |url                                                                                                             |Geral|Cultura e valores|Diversidade e inclusão|Qualidade de vida|Alta liderança|Remuneração e benefícios|Oportunidades de carreira|Recomendam para outras pessoas(%)|Perspectiva positiva da empresa(%)|Segmento|Nome                                              |match_percent|row_num|
+-------------------------------+-------------+-------------+--------------+--------------+-------------------------------+---------------------------+----------------+-----------------------------------------------------------------------------------+---------------------------+----------------------------------------------------------------------------------------------------------------+-----+-----------------+----------------------+-----------------+--------------+------------------------+-------------------------+---------------------------------+----------------------------------+--------+--------------------------------------------------+-------------+-------+
|Banco Alfa                     |175          |74           |271           |105           |http://www.alfanet.com.br      |São Paulo, Brasil          |1925.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Desconhecida/não se aplica |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Banco-Alfa-EI_IE817306.13,23.htm                     |3.5  |3.2              |3.2                   |3.1              |2.8           |3.8                     |2.7                      |68.0                             |47.0                              |S3      |ALFA                                              |100          |1      |
|Apex Group                     |432          |271          |561           |74            |http://www.apexgroup.com       |Hamilton, Bermuda          |2003.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Apex-Group-EI_IE764729.13,23.htm                     |3.2  |2.9              |3.4                   |3.0              |2.9           |2.7                     |3.2                      |50.0                             |52.0                              |S3      |APE POUPEX                                        |70           |1      |
|Banco Daycoval                 |300          |157          |521           |107           |https://www.daycoval.com.br    |São Paulo, Brasil          |1971.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |De US$ 25 a US$ 100 milhões|https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Banco-Daycoval-EI_IE1480352.13,27.htm                |4.0  |3.7              |3.6                   |3.4              |3.3           |4.1                     |3.4                      |78.0                             |72.0                              |S3      |BANCO DAYCOVAL S.A                                |100          |1      |
|Banco do Brasil                |5000         |1100         |9200          |1200          |https://www.bb.com.br          |Brasília, Brasil           |1808.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Desconhecida/não se aplica |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Banco-do-Brasil-EI_IE3945.13,28.htm                  |4.3  |3.9              |4.0                   |3.7              |3.5           |4.2                     |3.8                      |86.0                             |72.0                              |S1      |BANCO DO BRASIL                                   |100          |1      |
|Banco do Nordeste do Brasil    |525          |113          |840           |115           |http://www.bnb.gov.br          |Fortaleza, Brasil          |NULL            |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Desconhecido/Não se aplica |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Banco-do-Nordeste-do-Brasil-EI_IE436304.13,40.htm    |4.5  |4.4              |4.3                   |4.3              |4.1           |4.2                     |4.0                      |90.0                             |83.0                              |S2      |BANCO DO NORDESTE DO BRASIL S.A.                  |100          |1      |
|Banco Fibra                    |119          |41           |172           |37            |http://www.bancofibra.com.br   |São Paulo, Brasil          |NULL            |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Desconhecida/não se aplica |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Banco-Fibra-EI_IE744986.13,24.htm                    |4.3  |4.3              |4.3                   |3.8              |3.7           |4.2                     |3.6                      |87.0                             |84.0                              |S3      |BANCO FIBRA S.A.                                  |100          |1      |
|Sumitomo Mitsui Financial Group|903          |246          |1300          |290           |http://www.smfg.co.jp          |Tóquio, Japão              |1996.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Sumitomo-Mitsui-Financial-Group-EI_IE256138.13,44.htm|3.4  |3.3              |3.2                   |3.4              |3.1           |3.3                     |3.1                      |56.0                             |54.0                              |S3      |BANCO SUMITOMO MITSUI BRASIL S.A.                 |65           |1      |
|Bank Of Tokyo-Mitsubishi UFJ   |770          |150          |1100          |228           |http://www.bk.mufg.jp/global   |Tóquio, Japão              |1919.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Bank-Of-Tokyo-Mitsubishi-UFJ-EI_IE240039.13,41.htm   |3.6  |3.6              |3.5                   |3.4              |3.3           |3.6                     |3.3                      |65.0                             |43.0                              |S3      |BANCO TOKYO-MITSUBISHI BM S.A.                    |80           |1      |
|Banrisul                       |1000         |155          |1700          |127           |http://www.banrisul.com.br     |Porto Alegre, Brasil       |NULL            |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |De US$ 25 a US$ 100 milhões|https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Banrisul-EI_IE678973.13,21.htm                       |4.2  |3.6              |3.8                   |3.7              |3.4           |4.1                     |3.3                      |84.0                             |59.0                              |S2      |BANRISUL                                          |100          |1      |
|Banco BMG                      |445          |232          |704           |277           |http://www.bancobmg.com.br     |São Paulo, Brasil          |1930.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |De US$ 1 a US$ 5 milhões   |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Banco-BMG-EI_IE2482923.13,22.htm                     |4.1  |3.9              |4.1                   |3.7              |3.6           |4.2                     |3.5                      |79.0                             |63.0                              |S3      |BMG                                               |100          |1      |
|BNP Paribas                    |13000        |4100         |20000         |3600          |http://www.group.bnpparibas    |Paris, França              |2000.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-BNP-Paribas-EI_IE10342.13,24.htm                     |3.8  |3.7              |4.0                   |3.8              |3.4           |3.4                     |3.5                      |77.0                             |63.0                              |S3      |BNP PARIBAS                                       |100          |1      |
|Merrill Lynch                  |5600         |1200         |9900          |1200          |http://www.ml.com              |New York, Estados Unidos   |1820.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Merrill-Lynch-EI_IE440.13,26.htm                     |3.8  |3.6              |3.9                   |3.5              |3.5           |3.8                     |3.8                      |66.0                             |61.0                              |S3      |BOFA MERRILL LYNCH                                |84           |1      |
|Banco Bradesco                 |11000        |3300         |19000         |3200          |http://www.bancobradesco.com.br|Osasco, Brasil             |1943.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Banco-Bradesco-EI_IE10997.13,27.htm                  |4.2  |3.8              |3.9                   |3.4              |3.4           |4.3                     |3.8                      |81.0                             |66.0                              |S1      |BRADESCO                                          |100          |1      |
|BTG Pactual                    |1600         |683          |2800          |635           |http://www.btgpactual.com      |São Paulo, Brasil          |NULL            |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Desconhecida/não se aplica |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-BTG-Pactual-EI_IE411540.13,24.htm                    |4.0  |3.7              |3.5                   |2.8              |3.7           |4.4                     |4.2                      |78.0                             |73.0                              |S1      |BTG PACTUAL                                       |100          |1      |
|Caixa Econômica Federal        |4000         |717          |7300          |857           |http://www.caixa.gov.br        |BRASILIA, Brasil           |NULL            |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Desconhecida/não se aplica |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Caixa-Econ%C3%B4mica-Federal-EI_IE41924.13,36.htm    |4.4  |3.8              |4.2                   |3.7              |3.5           |4.3                     |3.9                      |86.0                             |72.0                              |S1      |CAIXA ECONOMICA FEDERAL                           |98           |1      |
|China Construction Bank        |871          |194          |720           |240           |http://www.ccb.com             |Pequim, China              |NULL            |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-China-Construction-Bank-EI_IE12617.13,36.htm         |3.4  |3.0              |2.9                   |3.4              |2.9           |3.5                     |2.8                      |54.0                             |42.0                              |S3      |CHINA CONSTRUCTION BANK (BRASIL) BANCO MULTIPLO S/|77           |1      |
|Citi                           |31000        |8900         |52000         |9900          |http://www.citigroup.com       |New York, Estados Unidos   |1812.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/citi                                                                               |3.9  |3.8              |4.1                   |3.5              |3.5           |3.8                     |3.9                      |76.0                             |68.0                              |S2      |CITIBANK                                          |100          |1      |
|Credit Suisse                  |11000        |3400         |22000         |2900          |http://www.credit-suisse.com   |Zurique, Suíça             |1856.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Credit-Suisse-EI_IE3141.13,26.htm                    |3.8  |3.8              |4.1                   |3.9              |3.3           |3.6                     |3.7                      |68.0                             |34.0                              |S2      |CREDIT SUISSE                                     |100          |1      |
|Deutsche Bank                  |12000        |3200         |21000         |3100          |https://careers.db.com/        |Frankfurt am Main, Alemanha|1870.0          |/Explorar/melhores-serviços-bancários-e-de-crédito-empresas_II.9,40_IIND200048.htm |Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Deutsche-Bank-EI_IE3150.13,26.htm                    |3.9  |3.8              |4.0                   |3.8              |3.5           |3.6                     |3.7                      |78.0                             |70.0                              |S3      |DEUTSCHE                                          |100          |1      |
|Goldman Sachs                  |17000        |4400         |36000         |4100          |http://www.goldmansachs.com    |New York, Estados Unidos   |1869.0          |/Explorar/melhores-gestão-de-ativos-e-investimentos-empresas_II.9,41_IIND200146.htm|Mais de US$ 10 bilhões     |https://www.glassdoor.com.br/Vis%C3%A3o-geral/Trabalhar-na-Goldman-Sachs-EI_IE2800.13,26.htm                    |3.9  |3.7              |4.0                   |2.9              |3.5           |3.8                     |4.0                      |72.0                             |63.0                              |S3      |GOLDMAN SACHS                                     |100          |1      |
+-------------------------------+-------------+-------------+--------------+--------------+-------------------------------+---------------------------+----------------+-----------------------------------------------------------------------------------+---------------------------+----------------------------------------------------------------------------------------------------------------+-----+-----------------+----------------------+-----------------+--------------+------------------------+-------------------------+---------------------------------+----------------------------------+--------+--------------------------------------------------+-------------+-------+
only showing top 20 rows

In [75]:
total_records_employee_dedup = spark.sql("SELECT COUNT(*) AS total FROM employee_temp_dedup").collect()[0]['total']
print(f"Registros subtraídos: {total_records_employee - total_records_employee_dedup}")

Registros subtraídos: 2

Analisando o esquema dos dados

In [76]:
spark.sql("DESCRIBE employee_temp_dedup").show(truncate=False)

+----------------------------------+---------+-------+
|col_name                          |data_type|comment|
+----------------------------------+---------+-------+
|employer_name                     |string   |NULL   |
|reviews_count                     |string   |NULL   |
|culture_count                     |string   |NULL   |
|salaries_count                    |string   |NULL   |
|benefits_count                    |string   |NULL   |
|employer-website                  |string   |NULL   |
|employer-headquarters             |string   |NULL   |
|employer-founded                  |string   |NULL   |
|employer-industry                 |string   |NULL   |
|employer-revenue                  |string   |NULL   |
|url                               |string   |NULL   |
|Geral                             |string   |NULL   |
|Cultura e valores                 |string   |NULL   |
|Diversidade e inclusão            |string   |NULL   |
|Qualidade de vida                 |string   |NULL   |
|Alta liderança                    |string   |NULL   |
|Remuneração e benefícios          |string   |NULL   |
|Oportunidades de carreira         |string   |NULL   |
|Recomendam para outras pessoas(%) |string   |NULL   |
|Perspectiva positiva da empresa(%)|string   |NULL   |
+----------------------------------+---------+-------+
only showing top 20 rows

Salvando dados na camada _raw_ no formato parquet

In [77]:
# raw_employee_path = './raw/employee/'
# rwzd_employee.write.parquet(raw_employee_path, mode="append")

spark.sql("""
CREATE TABLE rwzd_employee
USING parquet
LOCATION './raw/employee/'
AS
SELECT *
FROM employee_temp_dedup
""")
spark.sql("DESCRIBE rwzd_employee").show(truncate=False)

+----------------------------------+---------+-------+
|col_name                          |data_type|comment|
+----------------------------------+---------+-------+
|employer_name                     |string   |NULL   |
|reviews_count                     |string   |NULL   |
|culture_count                     |string   |NULL   |
|salaries_count                    |string   |NULL   |
|benefits_count                    |string   |NULL   |
|employer-website                  |string   |NULL   |
|employer-headquarters             |string   |NULL   |
|employer-founded                  |string   |NULL   |
|employer-industry                 |string   |NULL   |
|employer-revenue                  |string   |NULL   |
|url                               |string   |NULL   |
|Geral                             |string   |NULL   |
|Cultura e valores                 |string   |NULL   |
|Diversidade e inclusão            |string   |NULL   |
|Qualidade de vida                 |string   |NULL   |
|Alta liderança                    |string   |NULL   |
|Remuneração e benefícios          |string   |NULL   |
|Oportunidades de carreira         |string   |NULL   |
|Recomendam para outras pessoas(%) |string   |NULL   |
|Perspectiva positiva da empresa(%)|string   |NULL   |
+----------------------------------+---------+-------+
only showing top 20 rows

### **Claims file**

Localizando todos os arquivos contendo dados de reclamações

In [8]:
# claim_dir = '../Fonte de Dados/Reclamações/'
claim_dir = '/content/drive/MyDrive/eEDB-011-2024-3/Fonte de Dados/Reclamações'
claim_files = os.listdir(claim_dir)
claim_paths = list(map(lambda file: os.path.join(claim_dir, file), claim_files))
claim_paths

['/content/drive/MyDrive/eEDB-011-2024-3/Fonte de Dados/Reclamações/2021_tri_02.csv',
 '/content/drive/MyDrive/eEDB-011-2024-3/Fonte de Dados/Reclamações/2021_tri_03.csv',
 '/content/drive/MyDrive/eEDB-011-2024-3/Fonte de Dados/Reclamações/2021_tri_01.csv',
 '/content/drive/MyDrive/eEDB-011-2024-3/Fonte de Dados/Reclamações/2022_tri_01.csv',
 '/content/drive/MyDrive/eEDB-011-2024-3/Fonte de Dados/Reclamações/2022_tri_02_nao_ha_dados.csv',
 '/content/drive/MyDrive/eEDB-011-2024-3/Fonte de Dados/Reclamações/2022_tri_03.csv',
 '/content/drive/MyDrive/eEDB-011-2024-3/Fonte de Dados/Reclamações/2021_tri_04.csv',
 '/content/drive/MyDrive/eEDB-011-2024-3/Fonte de Dados/Reclamações/2022_tri_04.csv']

In [22]:
claim_df = spark.read.csv(claim_paths, sep=';', encoding='latin1', header=True)
claim_df.createOrReplaceTempView("claim_temp")
spark.sql("SELECT * FROM claim_temp LIMIT 100").show(truncate=False)

+----+---------+------------------------------------------------------+----------------+--------+----------------------------------------------------------------+------+-----------------------------------------------+--------------------------------------------+---------------------------------------+-------------------------------+----------------------------------------+----------------------------+----------------------------+----+
|Ano |Trimestre|Categoria                                             |Tipo            |CNPJ IF |Instituição financeira                                          |Índice|Quantidade de reclamações reguladas procedentes|Quantidade de reclamações reguladas - outras|Quantidade de reclamações não reguladas|Quantidade total de reclamações|Quantidade total de clientes  CCS e SCR|Quantidade de clientes  CCS|Quantidade de clientes  SCR|_c14|
+----+---------+------------------------------------------------------+----------------+--------+----------------------------------------------------------------+------+-----------------------------------------------+--------------------------------------------+---------------------------------------+-------------------------------+----------------------------------------+----------------------------+----------------------------+----+
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |ABC-BRASIL (conglomerado)                                       |      |4                                              |7                                           |3                                      |14                             |50720                                   |47485                       |6932                        |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |ABN AMRO (conglomerado)                                         |      |0                                              |0                                           |1                                      |1                              |0                                       |0                           |                            |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|13140088|ACESSO SOLUÇÕES DE PAGAMENTO S.A.                               |14,70 |75                                             |128                                         |9                                      |212                            |5098671                                 |5098661                     |19396                       |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |AGIBANK (conglomerado)                                          |96,00 |182                                            |262                                         |95                                     |539                            |1895683                                 |1540134                     |1176067                     |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|36321990|AGORACRED S/A SOCIEDADE DE CRÉDITO, FINANCIAMENTO E INVESTIMENTO|      |4                                              |4                                           |2                                      |10                             |534795                                  |133                         |534662                      |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|27214112|AL5 S.A. CRÉDITO, FINANCIAMENTO E INVESTIMENTO                  |      |10                                             |3                                           |2                                      |15                             |30959                                   |19706                       |16841                       |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |ALFA (conglomerado)                                             |      |23                                             |48                                          |9                                      |80                             |436746                                  |267423                      |170417                      |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|32778350|AME DIGITAL BRASIL INSTITUICAO DE PAGAMENTO LTDA                |      |6                                              |31                                          |90                                     |127                            |0                                       |0                           |0                           |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Conglomerado    |        |ANDBANK (conglomerado)                                          |      |0                                              |2                                           |2                                      |4                              |4302                                    |4302                        |29                          |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|19540550|ASAAS GESTÃO FINANCEIRA INSTITUIÇÃO DE PAGAMENTO S.A.           |      |8                                              |42                                          |5                                      |55                             |404447                                  |404447                      |                            |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|54403563|BANCO ARBI S.A.                                                 |      |14                                             |8                                           |0                                      |22                             |84526                                   |75882                       |10846                       |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|00997185|BANCO B3 S.A.                                                   |      |0                                              |1                                           |1                                      |2                              |896                                     |896                         |                            |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|02658435|BANCO CATERPILLAR S.A.                                          |      |1                                              |0                                           |0                                      |1                              |3325                                    |                            |3325                        |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|33132044|BANCO CEDULA S.A.                                               |      |0                                              |1                                           |1                                      |2                              |18010                                   |2805                        |15425                       |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|02992446|BANCO CNH INDUSTRIAL CAPITAL S.A.                               |      |0                                              |2                                           |2                                      |4                              |28887                                   |1290                        |27778                       |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|08357240|BANCO CSF S.A.                                                  |9,98  |77                                             |72                                          |43                                     |192                            |7707988                                 |                            |7707988                     |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|04902979|BANCO DA AMAZONIA S.A.                                          |      |6                                              |7                                           |10                                     |23                             |507169                                  |507169                      |                            |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|33042151|BANCO DE LA NACION ARGENTINA                                    |      |0                                              |2                                           |0                                      |2                              |267                                     |255                         |22                          |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|05040481|BANCO DE LAGE LANDEN BRASIL S.A.                                |      |0                                              |0                                           |1                                      |1                              |35292                                   |4                           |35289                       |NULL|
|2022|3º       |Demais Bancos, Financeiras e Instituições de Pagamento|Banco/financeira|92874270|BANCO DIGIMAIS S.A.                                             |424,80|132                                            |31                                          |33                                     |196                            |310734                                  |142304                      |203761                      |NULL|
+----+---------+------------------------------------------------------+----------------+--------+----------------------------------------------------------------+------+-----------------------------------------------+--------------------------------------------+---------------------------------------+-------------------------------+----------------------------------------+----------------------------+----------------------------+----+
only showing top 20 rows

Analisando o esquema dos dados

In [23]:
spark.sql("DESCRIBE claim_temp").show(truncate=False)

+-----------------------------------------------+---------+-------+
|col_name                                       |data_type|comment|
+-----------------------------------------------+---------+-------+
|Ano                                            |string   |NULL   |
|Trimestre                                      |string   |NULL   |
|Categoria                                      |string   |NULL   |
|Tipo                                           |string   |NULL   |
|CNPJ IF                                        |string   |NULL   |
|Instituição financeira                         |string   |NULL   |
|Índice                                         |string   |NULL   |
|Quantidade de reclamações reguladas procedentes|string   |NULL   |
|Quantidade de reclamações reguladas - outras   |string   |NULL   |
|Quantidade de reclamações não reguladas        |string   |NULL   |
|Quantidade total de reclamações                |string   |NULL   |
|Quantidade total de clientes  CCS e SCR       |string   |NULL   |
|Quantidade de clientes  CCS                   |string   |NULL   |
|Quantidade de clientes  SCR                   |string   |NULL   |
|_c14                                           |string   |NULL   |
+-----------------------------------------------+---------+-------+

Removendo coluna desnecessária

In [46]:
# Remove _c14 -> comando EXCEPT e DROP COLUMN nao funciona
spark.sql("""
CREATE OR REPLACE TEMPORARY VIEW claim_temp_filtered AS
SELECT "Ano", "Trimestre", "Categoria", "Tipo", "CNPJ IF", "Instituição financeira",
"Índice", "Quantidade de reclamações reguladas procedentes", "Quantidade de reclamações reguladas - outras",
"Quantidade de reclamações não reguladas", "Quantidade total de reclamações", "Quantidade total de clientes  CCS e SCR",
"Quantidade de clientes  CCS", "Quantidade de clientes  SCR"
FROM claim_temp
""")
spark.sql("DESCRIBE claim_temp_filtered").show(truncate=False)

+-----------------------------------------------+---------+-------+
|col_name                                       |data_type|comment|
+-----------------------------------------------+---------+-------+
|Ano                                            |string   |NULL   |
|Trimestre                                      |string   |NULL   |
|Categoria                                      |string   |NULL   |
|Tipo                                           |string   |NULL   |
|CNPJ IF                                        |string   |NULL   |
|Instituição financeira                         |string   |NULL   |
|Índice                                         |string   |NULL   |
|Quantidade de reclamações reguladas procedentes|string   |NULL   |
|Quantidade de reclamações reguladas - outras   |string   |NULL   |
|Quantidade de reclamações não reguladas        |string   |NULL   |
|Quantidade total de reclamações                |string   |NULL   |
|Quantidade total de clientes  CCS e SCR       |string   |NULL   |
|Quantidade de clientes  CCS                   |string   |NULL   |
|Quantidade de clientes  SCR                   |string   |NULL   |
+-----------------------------------------------+---------+-------+

Contando a quantidade de linhas

In [48]:
total_records_claim= spark.sql("SELECT COUNT(*) AS total FROM claim_temp_filtered").collect()[0]['total']
print(f"Registros claim: {total_records_claim}")

Registros claim: 918

Salvando dados na camada _raw_ no formato parquet

In [62]:
# raw_claim_path = './raw/claim/'
# rwzd_claim.write.parquet(raw_claim_path, mode="append")

spark.sql("""
CREATE TABLE rwzd_claim
USING parquet
LOCATION './raw/claim/'
AS
SELECT *
FROM claim_temp_filtered
""")
spark.sql("DESCRIBE rwzd_claim").show(truncate=False)

+-----------------------------------------------+---------+-------+
|col_name                                       |data_type|comment|
+-----------------------------------------------+---------+-------+
|Ano                                            |string   |NULL   |
|Trimestre                                      |string   |NULL   |
|Categoria                                      |string   |NULL   |
|Tipo                                           |string   |NULL   |
|CNPJ IF                                        |string   |NULL   |
|Instituição financeira                         |string   |NULL   |
|Índice                                         |string   |NULL   |
|Quantidade de reclamações reguladas procedentes|string   |NULL   |
|Quantidade de reclamações reguladas - outras   |string   |NULL   |
|Quantidade de reclamações não reguladas        |string   |NULL   |
|Quantidade total de reclamações                |string   |NULL   |
|Quantidade total de clientes  CCS e SCR       |string   |NULL   |
|Quantidade de clientes  CCS                   |string   |NULL   |
|Quantidade de clientes  SCR                   |string   |NULL   |
+-----------------------------------------------+---------+-------+

---
## **Trusted**

### **Banks**

In [ ]:
# rwzd_bank_df = spark.read.parquet('./raw/bank')
# rwzd_bank_df.createOrReplaceTempView("rwzd_bank")

Aplicando transformações para melhorar a qualidade dos dados:

1 - Renomeando colunas do dataframe para ingles e no formato snake_case

2 - Para que os dados da coluna _cnpj_ estivessem de acordo com seu padrão, os valores incompletos receberam numerais zeros à esquerda até completar 8 dígitos

In [98]:
spark.sql("""
CREATE TABLE trzd_banks
USING parquet
LOCATION './trusted/banks/'
AS
SELECT Segmento AS segment, Nome AS financial_institution_name,
      CASE
           WHEN cnpj = '' THEN NULL
           ELSE LPAD(cnpj, 8, '0')
       END AS cnpj
FROM rwzd_bank
""")
spark.sql("DESCRIBE trzd_banks").show(truncate=False)

+--------------------------+---------+-------+
|col_name                  |data_type|comment|
+--------------------------+---------+-------+
|segment                   |string   |NULL   |
|financial_institution_name|string   |NULL   |
|cnpj                      |string   |NULL   |
+--------------------------+---------+-------+

In [99]:
spark.sql("SELECT * FROM trzd_banks LIMIT 100").show(truncate=False)

+-------+---------------------------------------------+--------+
|segment|financial_institution_name                   |cnpj    |
+-------+---------------------------------------------+--------+
|S1     |BANCO DO BRASIL - PRUDENCIAL                 |00000000|
|S1     |BRADESCO - PRUDENCIAL                        |60746948|
|S1     |BTG PACTUAL - PRUDENCIAL                     |30306294|
|S1     |CAIXA ECONOMICA FEDERAL - PRUDENCIAL         |00360305|
|S1     |ITAU - PRUDENCIAL                            |60872504|
|S1     |SANTANDER - PRUDENCIAL                       |90400888|
|S2     |BANRISUL - PRUDENCIAL                        |92702067|
|S2     |BANCO DO NORDESTE DO BRASIL S.A. - PRUDENCIAL|07237373|
|S2     |BNDES - PRUDENCIAL                           |33657248|
|S2     |CITIBANK - PRUDENCIAL                        |33479023|
|S2     |CREDIT SUISSE - PRUDENCIAL                   |33987793|
|S2     |SAFRA - PRUDENCIAL                           |58160789|
|S2     |VOTORANTIM - PRUDENCIAL                      |59588111|
|S3     |ABC-BRASIL - PRUDENCIAL                      |28195667|
|S3     |ALFA - PRUDENCIAL                            |60770336|
|S3     |APE POUPEX                                   |00655522|
|S3     |BANCO CNH INDUSTRIAL CAPITAL S.A - PRUDENCIAL|02992446|
|S3     |BANCOOB - PRUDENCIAL                         |02038232|
|S3     |BANESTES - PRUDENCIAL                        |28127603|
|S3     |BANCO CLASSICO S.A. - PRUDENCIAL             |31597552|
+-------+---------------------------------------------+--------+
only showing top 20 rows

### **Employees**

In [ ]:
# rwzd_employee_df = spark.read.parquet('./raw/employee')
# rwzd_employee_df.createOrReplaceTempView("rwzd_employee")

---
## **Delivery**