# eEDB-011-2024-3

## Atividade 3 – Ingestão e ETL com linguagem de programação (Python + Spark)

- Utilizar linguagem de programação Python para ingestão e tratamento de dados. Todo o processo deve ser realizado via Spark.
    - Pacotes adicionais podem ser utilizados
    - Tratamento de dados não deve ser realizado via SQL
- Realizar a ingestão de todas as base de dados em um banco de dados relacional open source. Pode ser utilizado qualquer banco de dado sendo algumas sugestões:
    -  MySQL
    -  Postgre
    - ClickHouse
- Gerar uma tabela final com os dados tratados e unidos.
    - O tratamento de dados deve ser realizado através da linguagem de programação Python + Spark
- Adicionar as seguintes camadas de processamento, dentro do próprio banco de dados ou em disco local. A Camada Delivery deve
obrigatoriamente ter estar também no formato de uma tabela final dentro do banco de dados relacional:
    - RAW – formato dos dados livre
    - Trusted – formato de dados em Parquet ou ORC or AVRO (indicado Parquet)
    - Delivery– formato de dados em Parquet ou ORC or AVRO (indicado Parquet)

- **Grupo 02**:
    - Aline Bini
    - Ana Lívia Franco
    - Ana Priss
    - João Squinelato
    - Marcelo Pena
    - Thais Siqueira

- [Github](https://github.com/Squinelato/eEDB-011-2024-3 "eEDB-011-2024-3")

```Ingestão De Dados | Agosto 2024```

## To Do

- raw 
- trusted
- delivery

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lpad, col, lpad, concat, sha1, regexp_replace, udf, lower
from pyspark.sql.types import StringType, FloatType, IntegerType
from unidecode import unidecode

import os

In [6]:
spark = SparkSession.builder.getOrCreate()

In [10]:
# spark.conf.set('spark.rpc.askTimeout', '600s') 
# spark.conf.set('spark.executor.heartbeatInterval', "120s") 
spark.conf.set('spark.executor.timeout', "1200s") 
spark.conf.set('spark.sql.broadcastTimeout', "1200")

In [11]:
spark

---
## **Raw**

### **Banks file**

In [12]:
banks_csv_path = '../Fonte de Dados/Bancos/EnquadramentoInicia_v2.tsv'
rwzd_bank = spark.read.csv(banks_csv_path, sep='\t', encoding='utf8', header=True)
rwzd_bank.show(100, truncate=False)

+--------+--------+--------------------------------------------------------------------------------------------------------------------------+
|Segmento|CNPJ    |Nome                                                                                                                      |
+--------+--------+--------------------------------------------------------------------------------------------------------------------------+
|S1      |0       |BANCO DO BRASIL - PRUDENCIAL                                                                                              |
|S1      |60746948|BRADESCO - PRUDENCIAL                                                                                                     |
|S1      |30306294|BTG PACTUAL - PRUDENCIAL                                                                                                  |
|S1      |360305  |CAIXA ECONOMICA FEDERAL - PRUDENCIAL                                                                                      |
|S1      |60872504|ITAU - PRUDENCIAL                                                                                                         |
|S1      |90400888|SANTANDER - PRUDENCIAL                                                                                                    |
|S2      |92702067|BANRISUL - PRUDENCIAL                                                                                                     |
|S2      |7237373 |BANCO DO NORDESTE DO BRASIL S.A. - PRUDENCIAL                                                                             |
|S2      |33657248|BNDES - PRUDENCIAL                                                                                                        |
|S2      |33479023|CITIBANK - PRUDENCIAL                                                                                                     |
|S2      |33987793|CREDIT SUISSE - PRUDENCIAL                                                                                                |
|S2      |58160789|SAFRA - PRUDENCIAL                                                                                                        |
|S2      |59588111|VOTORANTIM - PRUDENCIAL                                                                                                   |
|S3      |28195667|ABC-BRASIL - PRUDENCIAL                                                                                                   |
|S3      |60770336|ALFA - PRUDENCIAL                                                                                                         |
|S3      |655522  |APE POUPEX                                                                                                                |
|S3      |2992446 |BANCO CNH INDUSTRIAL CAPITAL S.A - PRUDENCIAL                                                                             |
|S3      |2038232 |BANCOOB - PRUDENCIAL                                                                                                      |
|S3      |28127603|BANESTES - PRUDENCIAL                                                                                                     |
|S3      |31597552|BANCO CLASSICO S.A. - PRUDENCIAL                                                                                          |
|S3      |8357240 |BANCO CSF S.A. - PRUDENCIAL                                                                                               |
|S3      |4902979 |BANCO DA AMAZONIA S.A. - PRUDENCIAL                                                                                       |
|S3      |62232889|BANCO DAYCOVAL S.A - PRUDENCIAL                                                                                           |
|S3      |38486817|BANCO DES. DE MG S.A. - PRUDENCIAL                                                                                        |
|S3      |58616418|BANCO FIBRA S.A. - PRUDENCIAL                                                                                             |
|S3      |1023570 |BANCO RABOBANK INTL BRASIL S.A. - PRUDENCIAL                                                                              |
|S3      |60518222|BANCO SUMITOMO MITSUI BRASIL S.A. - PRUDENCIAL                                                                            |
|S3      |60498557|BANCO TOKYO-MITSUBISHI BM S.A. - PRUDENCIAL                                                                               |
|S3      |92816560|BD REGIONAL DO EXTREMO SUL - PRUDENCIAL                                                                                   |
|S3      |61186680|BMG - PRUDENCIAL                                                                                                          |
|S3      |1522368 |BNP PARIBAS - PRUDENCIAL                                                                                                  |
|S3      |62073200|BOFA MERRILL LYNCH - PRUDENCIAL                                                                                           |
|S3      |208     |BRB - PRUDENCIAL                                                                                                          |
|S3      |7450604 |CCB - PRUDENCIAL                                                                                                          |
|S3      |87437687|COOPERATIVA CENTRAL DE CREDITO DO RIO GRANDE DO SUL E SANTA CATARINA - CENTRAL SICREDI SUL                                |
|S3      |80230774|COOPERATIVA CENTRAL DE CREDITO E INVESTIMENTO DOS ESTADOS DO PARANA, SAO PAULO E RIO DE JANEIRO - CENTRAL SICREDI PR/SP/RJ|
|S3      |75647891|CREDIT AGRICOLE - PRUDENCIAL                                                                                              |
|S3      |62331228|DEUTSCHE - PRUDENCIAL                                                                                                     |
|S3      |59274605|GMAC - PRUDENCIAL                                                                                                         |
|S3      |4332281 |GOLDMAN SACHS - PRUDENCIAL                                                                                                |
|S3      |34111187|HAITONG - PRUDENCIAL                                                                                                      |
|S3      |49336860|ING - PRUDENCIAL                                                                                                          |
|S3      |33172537|JP MORGAN CHASE - PRUDENCIAL                                                                                              |
|S3      |17184037|MERCANTIL DO BRASIL - PRUDENCIAL                                                                                          |
|S3      |60814191|MERCEDES-BENZ - PRUDENCIAL                                                                                                |
|S3      |2801938 |MORGAN STANLEY - PRUDENCIAL                                                                                               |
|S3      |92894922|ORIGINAL - PRUDENCIAL                                                                                                     |
|S3      |59285411|PAN                                                                                                                       |
|S3      |62144175|PINE - PRUDENCIAL                                                                                                         |
|S3      |1181521 |SICREDI - PRUDENCIAL                                                                                                      |
|S3      |61533584|SOCIETE GENERALE - PRUDENCIAL                                                                                             |
|S3      |59109165|VOLKSWAGEN - PRUDENCIAL                                                                                                   |
|S4      |33824012|ADVALOR DTVM LTDA                                                                                                         |
|S4      |92856905|ADVANCED CC LTDA                                                                                                          |
|S4      |10663610|AF DESENVOLVE SP S.A.                                                                                                     |
|S4      |82937293|AF DO ESTADO DE SC S.A.                                                                                                   |
|S4      |13178690|AF ESTADO DE PERNAMBUCO S.A.                                                                                              |
|S4      |3584906 |AF PARAN�                                                                                                                 |
|S4      |10769660|AFAL S.A.                                                                                                                 |
|S4      |3183937 |AFEAM                                                                                                                     |
|S4      |2929977 |AG. FOMENTO AMAPA S.A.                                                                                                    |
|S4      |3058464 |AG. FOMENTO ESTADO DE RORAIMA                                                                                             |
|S4      |5474540 |AG. FOMENTO ESTADO DO TOCANTINS                                                                                           |
|S4      |3848103 |AGENCIA DE FOMENTO DO RN S.A.                                                                                             |
|S4      |6284531 |AG�NCIA DE FOMENTO MATO GROSSO                                                                                            |
|S4      |5940203 |AGENCIA FOMENTO EST RJ S.A.                                                                                               |
|S4      |3918382 |AGENCIA FOMENTO GOIAS                                                                                                     |
|S4      |10664513|AGIPLAN FINANCEIRA S.A. - CFI - PRUDENCIAL                                                                                |
|S4      |250699  |AGK CC S.A.                                                                                                               |
|S4      |36321990|AGORACRED S/A SCFI                                                                                                        |
|S4      |2678955 |AKRO DTVM S.A.                                                                                                            |
|S4      |5452073 |ALBATROSS CCV S.A                                                                                                         |
|S4      |3882245 |ALPES CCTVM LTDA                                                                                                          |
|S4      |17312661|AMARIL FRANKLIN CTV LTDA                                                                                                  |
|S4      |16927221|AMAZ�NIA CC LTDA.                                                                                                         |
|S4      |48795256|ANDBANK - PRUDENCIAL                                                                                                      |
|S4      |12719654|APEAL CREDITO IMOBILIARIO S/A                                                                                             |
|S4      |4684647 |ARC CORRETORA CAMBIO S.A.                                                                                                 |
|S4      |14425205|�TICO DTVM LTDA.                                                                                                          |
|S4      |33775974|ATIVA S.A. INVESTIMENTOS CCTVM                                                                                            |
|S4      |5956581 |ATRIA S.A. - CFI                                                                                                          |
|S4      |3443143 |AVIPAM CC LTDA.                                                                                                           |
|S4      |23862762|AVISTA S.A. CFI                                                                                                           |
|S4      |25280945|AVS CC LTDA.                                                                                                              |
|S4      |73622748|B & T ASSOCIADOS CC LTDA.                                                                                                 |
|S4      |2885855 |BADESUL DESENVOLVIMENTO AF/RS                                                                                             |
|S4      |61688131|BALUARTE SA CC                                                                                                            |
|S4      |997185  |BANCO BM&FBOVESPA - PRUDENCIAL                                                                                            |
|S4      |62237425|BANCO FIDIS - PRUDENCIAL                                                                                                  |
|S4      |34270520|BANCO IBM S.A. - PRUDENCIAL                                                                                               |
|S4      |23903068|BANCO KOMATSU DO BRASIL - PRUDENCIAL                                                                                      |
|S4      |7441209 |BANCO MONEO S.A. - PRUDENCIAL                                                                                             |
|S4      |40429946|BANCO PORTO REAL DE INVEST.S.A - PRUDENCIAL                                                                               |
|S4      |517645  |BANCO RIBEIR�O PRETO - PRUDENCIAL                                                                                         |
|S4      |795423  |BANCO SEMEAR - PRUDENCIAL                                                                                                 |
|S4      |7679404 |BANCO TOP�ZIO S.A. - PRUDENCIAL                                                                                           |
|S4      |9526594 |BANCO VIPAL - PRUDENCIAL                                                                                                  |
|S4      |33884941|BANIF - PRUDENCIAL                                                                                                        |
|S4      |61146577|BARCLAYS - PRUDENCIAL                                                                                                     |
|S4      |556603  |BARIGUI                                                                                                                   |
+--------+--------+--------------------------------------------------------------------------------------------------------------------------+
only showing top 100 rows

Analisando o esquema dos dados

In [13]:
rwzd_bank.printSchema()

root
 |-- Segmento: string (nullable = true)
 |-- CNPJ: string (nullable = true)
 |-- Nome: string (nullable = true)

Contando a quantidade de linhas

In [14]:
rwzd_bank.count()

1474

Salvando dados na camada _raw_ no formato parquet

In [15]:
# raw_bank_path = './raw/bank/'
# rwzd_bank.write.parquet(raw_bank_path, mode="append")

### **Employees file**

Localizando todos os arquivos contendo dados de empregados

In [16]:
employee_dir = '../Fonte de Dados/Empregados/'
employee_files = os.listdir(employee_dir)
employee_paths = list(map(lambda file: os.path.join(employee_dir, file), employee_files))
employee_paths

['../Fonte de Dados/Empregados/glassdoor_consolidado_join_match_less_v2.csv',
 '../Fonte de Dados/Empregados/glassdoor_consolidado_join_match_v2.csv']

Lendo todos os arquivos de empregados como um único conjunto de dados

In [17]:
rwzd_employee = spark.read.csv(employee_paths, sep='|', encoding='utf8', header=True)
rwzd_employee.show()

+--------------------+-------------+-------------+--------------+--------------+--------------------+---------------------+----------------+--------------------+--------------------+--------------------+-----+-----------------+----------------------+-----------------+--------------+------------------------+-------------------------+---------------------------------+----------------------------------+--------+--------------------+-------------+
|       employer_name|reviews_count|culture_count|salaries_count|benefits_count|    employer-website|employer-headquarters|employer-founded|   employer-industry|    employer-revenue|                 url|Geral|Cultura e valores|Diversidade e inclusão|Qualidade de vida|Alta liderança|Remuneração e benefícios|Oportunidades de carreira|Recomendam para outras pessoas(%)|Perspectiva positiva da empresa(%)|Segmento|                Nome|match_percent|
+--------------------+-------------+-------------+--------------+--------------+--------------------+---------------------+----------------+--------------------+--------------------+--------------------+-----+-----------------+----------------------+-----------------+--------------+------------------------+-------------------------+---------------------------------+----------------------------------+--------+--------------------+-------------+
|         BNP Paribas|        13000|         4100|         20000|          3600|http://www.group....|        Paris, França|          2000.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  3.8|              3.7|                   4.0|              3.8|           3.4|                     3.4|                      3.5|                             77.0|                              63.0|      S3|         BNP PARIBAS|          100|
|         BTG Pactual|         1600|          683|          2800|           635|http://www.btgpac...|    São Paulo, Brasil|            null|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  4.0|              3.7|                   3.5|              2.8|           3.7|                     4.4|                      4.2|                             78.0|                              73.0|      S1|         BTG PACTUAL|          100|
|          Banco Alfa|          175|           74|           271|           105|http://www.alfane...|    São Paulo, Brasil|          1925.0|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  3.5|              3.2|                   3.2|              3.1|           2.8|                     3.8|                      2.7|                             68.0|                              47.0|      S3|                ALFA|          100|
|           Banco BMG|          445|          232|           704|           277|http://www.bancob...|    São Paulo, Brasil|          1930.0|/Explorar/melhore...|De US$ 1 a US$ 5 ...|https://www.glass...|  4.1|              3.9|                   4.1|              3.7|           3.6|                     4.2|                      3.5|                             79.0|                              63.0|      S3|                 BMG|          100|
|      Banco Bradesco|        11000|         3300|         19000|          3200|http://www.bancob...|       Osasco, Brasil|          1943.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  4.2|              3.8|                   3.9|              3.4|           3.4|                     4.3|                      3.8|                             81.0|                              66.0|      S1|            BRADESCO|          100|
|      Banco Daycoval|          300|          157|           521|           107|https://www.dayco...|    São Paulo, Brasil|          1971.0|/Explorar/melhore...|De US$ 25 a US$ 1...|https://www.glass...|  4.0|              3.7|                   3.6|              3.4|           3.3|                     4.1|                      3.4|                             78.0|                              72.0|      S3|  BANCO DAYCOVAL S.A|          100|
|         Banco Fibra|          119|           41|           172|            37|http://www.bancof...|    São Paulo, Brasil|            null|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  4.3|              4.3|                   4.3|              3.8|           3.7|                     4.2|                      3.6|                             87.0|                              84.0|      S3|    BANCO FIBRA S.A.|          100|
|      Banco Original|          651|          286|          1100|           261|http://www.origin...|    São Paulo, Brasil|          2016.0|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  3.8|              3.4|                   3.5|              3.4|           3.1|                     4.0|                      3.3|                             71.0|                              53.0|      S3|            ORIGINAL|          100|
|           Banco PAN|         1100|          520|          1700|           493|http://www.bancop...|    São Paulo, Brasil|          2011.0|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  4.4|              4.2|                   4.4|              3.9|           3.9|                     4.6|                      4.0|                             91.0|                              79.0|      S3|                 PAN|          100|
|          Banco Pine|          121|           45|           216|            63| http://www.pine.com|    São Paulo, Brasil|          1997.0|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  3.8|              3.5|                   3.5|              3.4|           3.0|                     3.9|                      3.5|                             71.0|                              50.0|      S3|                PINE|          100|
|    Banco Votorantim|         1400|          563|          2100|           574|http://www.bancob...|    São Paulo, Brasil|          1991.0|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  4.4|              4.3|                   4.4|              4.1|           3.9|                     4.6|                      3.9|                             93.0|                              79.0|      S2|          VOTORANTIM|          100|
|     Banco do Brasil|         5000|         1100|          9200|          1200|https://www.bb.co...|     Brasília, Brasil|          1808.0|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  4.3|              3.9|                   4.0|              3.7|           3.5|                     4.2|                      3.8|                             86.0|                              72.0|      S1|     BANCO DO BRASIL|          100|
|Banco do Nordeste...|          525|          113|           840|           115|http://www.bnb.go...|    Fortaleza, Brasil|            null|/Explorar/melhore...|Desconhecido/Não ...|https://www.glass...|  4.5|              4.4|                   4.3|              4.3|           4.1|                     4.2|                      4.0|                             90.0|                              83.0|      S2|BANCO DO NORDESTE...|          100|
|Bank Of Tokyo-Mit...|          770|          150|          1100|           228|http://www.bk.muf...|        Tóquio, Japão|          1919.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  3.6|              3.6|                   3.5|              3.4|           3.3|                     3.6|                      3.3|                             65.0|                              43.0|      S3|BANCO TOKYO-MITSU...|           80|
|            Banrisul|         1000|          155|          1700|           127|http://www.banris...| Porto Alegre, Brasil|            null|/Explorar/melhore...|De US$ 25 a US$ 1...|https://www.glass...|  4.2|              3.6|                   3.8|              3.7|           3.4|                     4.1|                      3.3|                             84.0|                              59.0|      S2|            BANRISUL|          100|
|Caixa Econômica F...|         4000|          717|          7300|           857|http://www.caixa....|     BRASILIA, Brasil|            null|/Explorar/melhore...|Desconhecida/não ...|https://www.glass...|  4.4|              3.8|                   4.2|              3.7|           3.5|                     4.3|                      3.9|                             86.0|                              72.0|      S1|CAIXA ECONOMICA F...|           98|
|                Citi|        31000|         8900|         52000|          9900|http://www.citigr...| New York, Estados...|          1812.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  3.9|              3.8|                   4.1|              3.5|           3.5|                     3.8|                      3.9|                             76.0|                              68.0|      S2|            CITIBANK|          100|
|       Credit Suisse|        11000|         3400|         22000|          2900|http://www.credit...|       Zurique, Suíça|          1856.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  3.8|              3.8|                   4.1|              3.9|           3.3|                     3.6|                      3.7|                             68.0|                              34.0|      S2|       CREDIT SUISSE|          100|
|       Deutsche Bank|        12000|         3200|         21000|          3100|https://careers.d...| Frankfurt am Main...|          1870.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  3.9|              3.8|                   4.0|              3.8|           3.5|                     3.6|                      3.7|                             78.0|                              70.0|      S3|            DEUTSCHE|          100|
|       Goldman Sachs|        17000|         4400|         36000|          4100|http://www.goldma...| New York, Estados...|          1869.0|/Explorar/melhore...|Mais de US$ 10 bi...|https://www.glass...|  3.9|              3.7|                   4.0|              2.9|           3.5|                     3.8|                      4.0|                             72.0|                              63.0|      S3|       GOLDMAN SACHS|          100|
+--------------------+-------------+-------------+--------------+--------------+--------------------+---------------------+----------------+--------------------+--------------------+--------------------+-----+-----------------+----------------------+-----------------+--------------+------------------------+-------------------------+---------------------------------+----------------------------------+--------+--------------------+-------------+
only showing top 20 rows

Removendo duplicatas com base no nome e segmento do banco

In [18]:
rwzd_employee = rwzd_employee.dropDuplicates(['Nome', 'Segmento'])

Analisando o esquema dos dados

In [19]:
rwzd_employee.printSchema()

root
 |-- employer_name: string (nullable = true)
 |-- reviews_count: string (nullable = true)
 |-- culture_count: string (nullable = true)
 |-- salaries_count: string (nullable = true)
 |-- benefits_count: string (nullable = true)
 |-- employer-website: string (nullable = true)
 |-- employer-headquarters: string (nullable = true)
 |-- employer-founded: string (nullable = true)
 |-- employer-industry: string (nullable = true)
 |-- employer-revenue: string (nullable = true)
 |-- url: string (nullable = true)
 |-- Geral: string (nullable = true)
 |-- Cultura e valores: string (nullable = true)
 |-- Diversidade e inclusão: string (nullable = true)
 |-- Qualidade de vida: string (nullable = true)
 |-- Alta liderança: string (nullable = true)
 |-- Remuneração e benefícios: string (nullable = true)
 |-- Oportunidades de carreira: string (nullable = true)
 |-- Recomendam para outras pessoas(%): string (nullable = true)
 |-- Perspectiva positiva da empresa(%): string (nullable = true)
 |-- Segmento: string (nullable = true)
 |-- Nome: string (nullable = true)
 |-- match_percent: string (nullable = true)

Contando a quantidade de linhas

In [20]:
rwzd_employee.count()

37

Salvando dados na camada _raw_ no formato parquet

In [21]:
# raw_employee_path = './raw/employee/'
# rwzd_employee.write.parquet(raw_employee_path, mode="append")

### **Claims**

Localizando todos os arquivos contendo dados de reclamações

In [22]:
claim_dir = '../Fonte de Dados/Reclamações/'
claim_files = os.listdir(claim_dir)
claim_paths = list(map(lambda file: os.path.join(claim_dir, file), claim_files))
claim_paths

['../Fonte de Dados/Reclamações/2021_tri_01.csv',
 '../Fonte de Dados/Reclamações/2021_tri_02.csv',
 '../Fonte de Dados/Reclamações/2021_tri_03.csv',
 '../Fonte de Dados/Reclamações/2021_tri_04.csv',
 '../Fonte de Dados/Reclamações/2022_tri_01.csv',
 '../Fonte de Dados/Reclamações/2022_tri_02_nao_ha_dados.csv',
 '../Fonte de Dados/Reclamações/2022_tri_03.csv',
 '../Fonte de Dados/Reclamações/2022_tri_04.csv']

In [23]:
rwzd_claim = spark.read.csv(claim_paths, sep=';', encoding='latin1', header=True)
rwzd_claim.show()

+----+---------+--------------------+----------------+--------+----------------------+------+-----------------------------------------------+--------------------------------------------+---------------------------------------+-------------------------------+----------------------------------------+----------------------------+----------------------------+----+
| Ano|Trimestre|           Categoria|            Tipo| CNPJ IF|Instituição financeira|Índice|Quantidade de reclamações reguladas procedentes|Quantidade de reclamações reguladas - outras|Quantidade de reclamações não reguladas|Quantidade total de reclamações|Quantidade total de clientes  CCS e SCR|Quantidade de clientes  CCS|Quantidade de clientes  SCR|_c14|
+----+---------+--------------------+----------------+--------+----------------------+------+-----------------------------------------------+--------------------------------------------+---------------------------------------+-------------------------------+----------------------------------------+----------------------------+----------------------------+----+
|2022|       3º|Demais Bancos, Fi...|    Conglomerado|        |  ABC-BRASIL (congl...|      |                                              4|                                           7|                                      3|                             14|                                   50720|                       47485|                        6932|null|
|2022|       3º|Demais Bancos, Fi...|    Conglomerado|        |  ABN AMRO (conglom...|      |                                              0|                                           0|                                      1|                              1|                                       0|                           0|                            |null|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|13140088|  ACESSO SOLUÇÕES D...| 14,70|                                             75|                                         128|                                      9|                            212|                                 5098671|                     5098661|                       19396|null|
|2022|       3º|Demais Bancos, Fi...|    Conglomerado|        |  AGIBANK (conglome...| 96,00|                                            182|                                         262|                                     95|                            539|                                 1895683|                     1540134|                     1176067|null|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|36321990|  AGORACRED S/A SOC...|      |                                              4|                                           4|                                      2|                             10|                                  534795|                         133|                      534662|null|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|27214112|  AL5 S.A. CRÉDITO,...|      |                                             10|                                           3|                                      2|                             15|                                   30959|                       19706|                       16841|null|
|2022|       3º|Demais Bancos, Fi...|    Conglomerado|        |   ALFA (conglomerado)|      |                                             23|                                          48|                                      9|                             80|                                  436746|                      267423|                      170417|null|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|32778350|  AME DIGITAL BRASI...|      |                                              6|                                          31|                                     90|                            127|                                       0|                           0|                           0|null|
|2022|       3º|Demais Bancos, Fi...|    Conglomerado|        |  ANDBANK (conglome...|      |                                              0|                                           2|                                      2|                              4|                                    4302|                        4302|                          29|null|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|19540550|  ASAAS GESTÃO FINA...|      |                                              8|                                          42|                                      5|                             55|                                  404447|                      404447|                            |null|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|54403563|       BANCO ARBI S.A.|      |                                             14|                                           8|                                      0|                             22|                                   84526|                       75882|                       10846|null|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|00997185|         BANCO B3 S.A.|      |                                              0|                                           1|                                      1|                              2|                                     896|                         896|                            |null|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|02658435|  BANCO CATERPILLAR...|      |                                              1|                                           0|                                      0|                              1|                                    3325|                            |                        3325|null|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|33132044|     BANCO CEDULA S.A.|      |                                              0|                                           1|                                      1|                              2|                                   18010|                        2805|                       15425|null|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|02992446|  BANCO CNH INDUSTR...|      |                                              0|                                           2|                                      2|                              4|                                   28887|                        1290|                       27778|null|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|08357240|        BANCO CSF S.A.|  9,98|                                             77|                                          72|                                     43|                            192|                                 7707988|                            |                     7707988|null|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|04902979|  BANCO DA AMAZONIA...|      |                                              6|                                           7|                                     10|                             23|                                  507169|                      507169|                            |null|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|33042151|  BANCO DE LA NACIO...|      |                                              0|                                           2|                                      0|                              2|                                     267|                         255|                          22|null|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|05040481|  BANCO DE LAGE LAN...|      |                                              0|                                           0|                                      1|                              1|                                   35292|                           4|                       35289|null|
|2022|       3º|Demais Bancos, Fi...|Banco/financeira|92874270|   BANCO DIGIMAIS S.A.|424,80|                                            132|                                          31|                                     33|                            196|                                  310734|                      142304|                      203761|null|
+----+---------+--------------------+----------------+--------+----------------------+------+-----------------------------------------------+--------------------------------------------+---------------------------------------+-------------------------------+----------------------------------------+----------------------------+----------------------------+----+
only showing top 20 rows

Analisando o esquema dos dados

In [24]:
rwzd_claim.printSchema()

root
 |-- Ano: string (nullable = true)
 |-- Trimestre: string (nullable = true)
 |-- Categoria: string (nullable = true)
 |-- Tipo: string (nullable = true)
 |-- CNPJ IF: string (nullable = true)
 |-- Instituição financeira: string (nullable = true)
 |-- Índice: string (nullable = true)
 |-- Quantidade de reclamações reguladas procedentes: string (nullable = true)
 |-- Quantidade de reclamações reguladas - outras: string (nullable = true)
 |-- Quantidade de reclamações não reguladas: string (nullable = true)
 |-- Quantidade total de reclamações: string (nullable = true)
 |-- Quantidade total de clientes  CCS e SCR: string (nullable = true)
 |-- Quantidade de clientes  CCS: string (nullable = true)
 |-- Quantidade de clientes  SCR: string (nullable = true)
 |-- _c14: string (nullable = true)

Removendo coluna desnecessária

In [25]:
rwzd_claim = rwzd_claim.drop('_c14')

Contando a quantidade de linhas

In [26]:
rwzd_claim.count()

918

Salvando dados na camada _raw_ no formato parquet

In [27]:
# raw_claim_path = './raw/claim/'
# rwzd_claim.write.parquet(raw_claim_path, mode="append")

---
## **Trusted**

### **Banks**

In [28]:
trzd_bank = rwzd_bank

Aplicando algumas transformações com o intuito de melhorar a qualidade dos dados:

1 - Renomeando colunas do _dataframe_ para inglês e no formato _snake case_

In [29]:
trzd_bank = trzd_bank.withColumnsRenamed({
    'Segmento': 'segment',
    'CNPJ': 'cnpj',
    'Nome': 'financial_institution_name'
})

2 - Para que os dados da coluna _cnpj_ estivessem de acordo com seu padrão, os valores incompletos receberam numerais zeros à esquerda até completar 8 dígitos

In [30]:
trzd_bank = trzd_bank.withColumn('cnpj', lpad(col('cnpj'), 8, '0'))

In [31]:
trzd_bank = trzd_bank.withColumn('sk_cnpj_segment', sha1(concat(col('cnpj'), col('segment'))))

In [32]:
trzd_bank.show(truncate=False)

+-------+--------+---------------------------------------------+----------------------------------------+
|segment|cnpj    |financial_institution_name                   |sk_cnpj_segment                         |
+-------+--------+---------------------------------------------+----------------------------------------+
|S1     |00000000|BANCO DO BRASIL - PRUDENCIAL                 |d9be4941c63af670d63086dcb0849a997e062a64|
|S1     |60746948|BRADESCO - PRUDENCIAL                        |2f59bebc86f6b4dd5628043cac240c6e6a6f651d|
|S1     |30306294|BTG PACTUAL - PRUDENCIAL                     |110ffbf347c0837827daf658f4f97950ebe9f741|
|S1     |00360305|CAIXA ECONOMICA FEDERAL - PRUDENCIAL         |587e4dca521e8c4426371a29658419ecb0087262|
|S1     |60872504|ITAU - PRUDENCIAL                            |4b6e5b20d113f3415704fd6a998f2e4500340b18|
|S1     |90400888|SANTANDER - PRUDENCIAL                       |75ddb1c713e8da4daab944522b8ee5dda29c2983|
|S2     |92702067|BANRISUL - PRUDENCIAL                        |ddd1cba40d24bcf93c637028f2ef047ce4fae886|
|S2     |07237373|BANCO DO NORDESTE DO BRASIL S.A. - PRUDENCIAL|4e52ea413cf937405f38013294434e85be954f2d|
|S2     |33657248|BNDES - PRUDENCIAL                           |bd262ac480470e839f0e98c0f57383d2034ac1a6|
|S2     |33479023|CITIBANK - PRUDENCIAL                        |9dfc299c9dffe3629288d302b47a2dcf9ec883cb|
|S2     |33987793|CREDIT SUISSE - PRUDENCIAL                   |2d52471f560d1a3b35ad745dd9626640fdf2a12e|
|S2     |58160789|SAFRA - PRUDENCIAL                           |10fd63fa68a9399399c41747efaccbbd7f474b80|
|S2     |59588111|VOTORANTIM - PRUDENCIAL                      |7c0daecf7f3d35c4c8b991ff49149a87d1c680b8|
|S3     |28195667|ABC-BRASIL - PRUDENCIAL                      |4396c9aca92a8cfb1aba2ce3fa1e98a15ab209b3|
|S3     |60770336|ALFA - PRUDENCIAL                            |aa27f0a03ce357a431c2789b7f6596e0b464e2bc|
|S3     |00655522|APE POUPEX                                   |d52450adc95fa0bbb0d69e46f1b200a2191be886|
|S3     |02992446|BANCO CNH INDUSTRIAL CAPITAL S.A - PRUDENCIAL|4110f81144c29257d25a66c80576c8929f84ecc4|
|S3     |02038232|BANCOOB - PRUDENCIAL                         |a0eed533328d57ac2d7846c49b7ccc23798cd566|
|S3     |28127603|BANESTES - PRUDENCIAL                        |2748b9aae2109a4b4b66e4c870b3539f1fd5ce12|
|S3     |31597552|BANCO CLASSICO S.A. - PRUDENCIAL             |5f93aa376cd172e5543caf6a511eb917292c5024|
+-------+--------+---------------------------------------------+----------------------------------------+
only showing top 20 rows

In [33]:
## salvar em parquet

### **Employees**

In [34]:
trzd_employee = rwzd_employee

In [35]:
trzd_employee = trzd_employee.withColumnsRenamed({
    'employer-website': 'employer_website',
    'employer-headquarters': 'employer_headquarters',
    'employer-founded': 'employer_founded',
    'employer-industry': 'employer_industry',
    'employer-revenue': 'employer_revenue',
    'Geral': 'general_score',
    'Cultura e valores': 'culture_values_score',
    'Diversidade e inclusão': 'diversity_inclusion_score',
    'Qualidade de vida': 'life_quality_score',
    'Alta liderança': 'senior_leadership_score',
    'Remuneração e benefícios': 'compensation_benefits_score',
    'Oportunidades de carreira': 'career_opportunities_score',
    'Recomendam para outras pessoas(%)': 'recommendation_score',
    'Perspectiva positiva da empresa(%)': 'company_positive_score',
    'Segmento': 'segment',
    'Nome': 'financial_institution_name'
})

In [36]:
trzd_employee = trzd_employee.withColumn('employer_founded', regexp_replace(col('employer_founded'), r'\..*', ''))

In [37]:
def unaccent_new(word: str) -> str:
    return unidecode(word)

unaccent = udf(unaccent_new, StringType())

In [38]:
# unaccent = udf(lambda word: unidecode(word))

trzd_employee = trzd_employee \
    .withColumn('sk_financial_institution_name', unaccent(col('financial_institution_name'))) \
    .withColumn('sk_financial_institution_name', lower(col('sk_financial_institution_name'))) \
    .withColumn('sk_financial_institution_name', regexp_replace(col('sk_financial_institution_name'), r' ', '')) \
    .withColumn('sk_financial_institution_name', sha1(col('sk_financial_institution_name')))

In [39]:
trzd_employee.show(truncate=False)

Py4JJavaError: An error occurred while calling o130.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 21.0 failed 1 times, most recent failure: Lost task 0.0 in stage 21.0 (TID 23) (NITRO5 executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:192)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:166)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec.evaluate(BatchEvalPythonExec.scala:82)
	at org.apache.spark.sql.execution.python.EvalPythonExec.$anonfun$doExecute$2(EvalPythonExec.scala:131)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:853)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:853)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	at java.lang.Thread.run(Unknown Source)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(Unknown Source)
	at java.net.AbstractPlainSocketImpl.accept(Unknown Source)
	at java.net.PlainSocketImpl.accept(Unknown Source)
	at java.net.ServerSocket.implAccept(Unknown Source)
	at java.net.ServerSocket.accept(Unknown Source)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:179)
	... 25 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2785)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2721)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2720)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2720)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1206)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1206)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1206)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2984)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2923)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2912)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:971)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2263)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2284)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2303)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:530)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:483)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:61)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.$anonfun$executeCollect$1(AdaptiveSparkPlanExec.scala:354)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.withFinalPlanUpdate(AdaptiveSparkPlanExec.scala:382)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.executeCollect(AdaptiveSparkPlanExec.scala:354)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:4177)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:3161)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4167)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:526)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:4165)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:118)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:195)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:103)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:827)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:65)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4165)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:3161)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3382)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:284)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:323)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Unknown Source)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:192)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:166)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec.evaluate(BatchEvalPythonExec.scala:82)
	at org.apache.spark.sql.execution.python.EvalPythonExec.$anonfun$doExecute$2(EvalPythonExec.scala:131)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:853)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:853)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(Unknown Source)
	at java.net.AbstractPlainSocketImpl.accept(Unknown Source)
	at java.net.PlainSocketImpl.accept(Unknown Source)
	at java.net.ServerSocket.implAccept(Unknown Source)
	at java.net.ServerSocket.accept(Unknown Source)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:179)
	... 25 more